[2016-06-08 19:00] jakerella opened #2 "Move scheduled talk directories into single "talks" directory"
In order to preserve the readability of the main directory, I'd like to move the specific scheduled/completed talk directories into a general `talks` directory. So the current structure would become:

- talks
  - 20160616-html5-jkasper
    - READEME.md
    - announcement.md
  - 20140714-tbd-dcousineau
- ISSUE_TEMPLATE.md
- README.md
- speaker-primer.md

@asabaylus @elgreg Any concerns with that?

[2016-06-10 02:35] elgreg commented on #2
Sounds good to me.

On Wed, Jun 8, 2016 at 3:00 PM Jordan Kasper notifications@github.com
wrote:

[2016-06-15 13:37] jakerella opened #4 "How to think like a computer scientist"
Your Name: Daniel Cousineau
Your twitter handle: @dcousineau

Talk title: How to think like a computer scientist

Talk abstract:
Often times, we hit a wall and get stuck on a problem, only to realize much later - and after lengthy and unnecessary pain- that the solution was simple if we had just reframed the problem as something else. Thinking like a Computer Scientist involves being able to take

[2016-06-17 18:23] #2 closed

[2016-06-17 18:24] jakerella commented on #4
@dcousineau Can you add an abstract for us?

[2016-06-17 18:25] jakerella opened #8 "Bio and headshot?"
Do we want to post a speaker bio and headshot with meetup events? If so we can add that to our issue template for talk suggestions.

[2016-06-17 21:13] elgreg commented on #8
Headshot is asking too much, IMHO.

[2016-06-17 21:32] asabaylus commented on #8
I only go the sexy speakers

Sent from my iPhone

[2016-06-17 21:33] asabaylus commented on #8
Sorry bad joke. I don't think we need headshots.

[2016-06-17 21:51] jakerella commented on #8
That's cool... but bio?

[2016-06-18 00:59] elgreg commented on #8
☝️

[2016-06-20 14:49] dcousineau commented on #4
@jakerella

[2016-06-20 17:02] jakerella commented on #4
👍 Thanks!

@dcousineau: can you give us a short bio as well?

@elgreg @asabaylus Any other questions?

[2016-06-20 17:03] #8 closed

[2016-06-20 17:04] dcousineau commented on #4
@jakerella

[2016-06-21 02:15] elgreg commented on #4
zomg great bio.

[2016-06-21 02:20] elgreg commented on #4
Let's post this thang. @jakerella I'll give you meetup access, too. :) @asabaylus thou art the Slack-admin. Please also add Jordan. Grazié

[2016-06-21 03:39] asabaylus commented on #4
I think its Jesse Shawl who owns the slack channel, I've asked him to transfer it my way. Also 👍 great bio

[2016-06-21 12:37] jakerella commented on #4
Cool. Let's get the meetup posted. @elgreg or @asabaylus ... do you want me to do that? We can use the same location for the July meetup, in August we'll be in our new location and will have lots of space and chairs and such.

[2016-06-21 12:39] asabaylus commented on #4
@elgreg posted it the other day http://www.meetup.com/DC-JavaScript/events/232044665/

[2016-06-21 12:41] jakerella commented on #4
heh... just saw that. We can update the location to the same as last month... I'll do that.

[2016-06-21 18:56] elgreg commented on #4
I'll pull the tigger on announcing this now.

On Tue, Jun 21, 2016 at 8:41 AM Jordan Kasper notifications@github.com
wrote:

[2016-06-21 19:12] jakerella commented on #4
👍
When should we close this issue? I suppose when #11 is merged?

[2016-06-21 21:29] #4 closed

[2016-07-07 12:53] ifrit opened #12 "ES6/7/8 and the future of JavaScript"
Your Name: Alexander Saify
Your twitter handle: ifrit
A few words about yourself: Long time programmer and recent React proselytizer with a penchant for design. I spend my summers planning for That Thing in the Desert.

Talk title: **ES6/7/8 and the future of JavaScript** [WORKING TITLE]

Talk abstract:
A deep dive into the new language features available to developers, both now (through babel) an

[2016-07-07 14:04] jakerella commented on #12
Very popular concept these days! In fact, John K Paul just did a similar topic for the ReactDC meetup! I'm open to this, but could you flesh out the topics a bit more?

I'd also probably prefer just core JS (versus examples in React) as that adds a layer of complexity that might make it difficult to follow the main points of ES6/7/8. Thoughts?

[2016-07-07 19:43] ifrit commented on #12
Ideally I'd like to do it in pure JS. The mention of React was more to put it into context for developers who enjoy real world examples. Let me flesh it out a bit tonight.

[2016-07-07 19:52] ramsaylanier opened #13 "Getting started with GraphQL"
Your Name: Ramsay Lanier
Your twitter handle: rmmmsy
A few words about yourself: I'm a senior developer at nclud.

Talk title: Getting started with GraphQL using [Apollo Stack](http://apollostack.com)

Talk abstract:
My talk would start with an introduction to GraphQL and why/how it could be a replacement for REST APIs. I'll discuss the GraphQL type language, defining a GraphQL schema, connecting

[2016-07-07 19:55] d6u commented on #13
😍  is it possible to speak more about plain GraphQL setup without any abstraction layers, so people can learn more about the foundation? I'm know nothing about the Apollo Stack FYI. Also talking about gradually introducing GraphQL into existing REST setup is useful.

[2016-07-07 19:57] jakerella commented on #12
Awesome, thanks! And I think relating it to React (or any other framework) is cool, just wanted to keep it a bit generic for folks _not_ using one of those frameworks.

[2016-07-07 20:02] ramsaylanier commented on #13
Apollo just makes it easier to connect server and client to a GraphQL schema. I'd definitely start with the basics of writing GraphQL schemas, connectors, and resolvers. Those are all "stack agnostic", meaning Apollo wouldn't come into play there.

[2016-07-07 20:03] jakerella commented on #13
Sounds neat! I would definitely like to see this kept more focused on front end development (and JS, obviously), but it looks promising.

[2016-07-07 20:09] fillerwriter opened #14 "What's new in D3.js 4.0"
Your Name: Brandon Morrison
Your twitter handle: @fillerwriter
A few words about yourself: Brandon Morrison is a software engineer based in the Washington DC area. He specializes in developing intricate web applications and informative data visualizations. While open to a variety of projects, Brandon's technical chops lean toward Angular, D3, NodeJS, and PHP.

Brandon contributes a fair amount of

[2016-07-07 20:20] jakerella commented on #14
Sounds good... I think doing a solid intro to D3 would be good as well. I'm concerned that a lot of people won't even know what you use D3 for. ;)

[2016-07-07 21:24] rcheuk opened #15 "salesforce/tableau/angularjs integration"
Your Name: Rachel Cheuk
Your twitter handle: @rachel_cheuk
A few words about yourself: Consultant with a background in fullstack development and an interest in data visualization (www.scatteredhorizons.com)
Talk title: Tableau Directive for AngularJS
Topic: Tableau/AngularJS Integration

Talk abstract:
Creating an AngularJS Directive (Angular 1) to display a Tableau Dashboard

Expected length: 15-

[2016-07-08 12:57] jakerella commented on #14
Can we narrow down that expected length? That's a big range for one meetup! Basically, we need to know if it's a long session or one which we can combine to have a dual-talk meeting.

[2016-07-08 12:58] jakerella commented on #13
Do you know if this is closer to 30 min or closer to 45? We need to know what else we could fit into a meetup with this talk (basically, two short sessions, or a single long one).

[2016-07-08 15:30] fillerwriter commented on #14
I'm flexible. If you want to have someone double-up with me, I'm happy to give a 30 minute presentation. I'm also happy to take a full presentation. If we go with the shorter presentation, I'd want to focus on either "What is D3?" (more introductory) or "What's new in D3?" (more intermediate) instead of cramming both in.

[2016-07-08 15:32] jakerella commented on #14
Cool. I'll label this with both and we can figure it out later.

[2016-07-12 18:22] samiam151 opened #16 "Angular 2 CLI"
Your Name: Nicolas Sam
Your twitter handle: [@samiam1512](http://twiiter.com/samiam1512)
A few words about yourself: Aspiring Front End Developer

Talk title: Angular 2 CLI (working title)

Talk abstract:
Setting up a new Angular2 application can be cumbersome, and definitely time-consuming. We need to setup app files, Typescript configs, Typescript typings, testing frameworks, System.js configs a

[2016-07-12 20:27] jakerella commented on #16
I think this is a great idea for a short talk. We might be able to work this into the beginning of a meeting where we have a not-terribly-long main talk, or some month where we do a set up lightning talks as our meetup!

In terms of content, your abstract is already pretty solid. I'm not sure what else to throw in there for a shorter talk! Do you have any questions about what to cover or the proce

[2016-07-13 18:16] ramsaylanier commented on #13
@jakerella I can make it either, though 45 minutes would allow me to cover more things, and in more detail. I'm flexible though.

[2016-07-13 18:28] jakerella commented on #13
Awesome, thanks! We'll when we can fit this in.

[2016-07-14 00:08] samiam151 commented on #16
I think I'll stick with that! If any other ideas come up while I'm working on it, I'll give a shout!

[2016-08-11 19:04] jakerella commented on #13
Hey @ramsaylanier! We're hoping you would be available September 8 to do this talk for DCJS. Are you available?

[2016-08-18 14:13] jakerella commented on #14
Hi @fillerwriter! Any chance you can give this talk on September 8?

[2016-08-18 15:00] fillerwriter commented on #14
Unfortunately, I have plans that date. Maybe the following month?

[2016-08-18 18:03] jakerella commented on #14
That's too bad! We'll definitely get it in some time, we don't have the plan for October yet, but we'll try to work that out shortly.

[2016-08-20 01:25] elgreg opened #17 "Talk about ECMAScript 6 (formerly "WANTED")"
We'd love to have someone come and talk through using ES6 but without trying to explain React at the same time. Maybe a "you don't need underscore/lodash anymore" talk?

Interested? Know someone who might be? Just comment on this issue!

[2016-08-20 01:29] elgreg opened #18 "WANTED: Practical applications of Web Sockets and Web Workers"
We'd love to have someone talk about practical applications for web sockets in everyday applications.  Do you know a lot about this? Are you using web sockets in a production application used by real users?

[2016-08-24 18:25] karlgroves opened #19 "`<noscript>` is Dead! Using JavaScript to improve the accessible user experience."
Your Name: Karl Groves
Your twitter handle: karlgroves
A few words about yourself: I think that the Star Wars prequels get a bad rap, but is Jar Jar Binks really any worse than C3PO? They're both bumbling fools the only difference is that someone actually programmed C3PO to be an annoying twit.

Talk title: `<noscript>` is Dead! Using JavaScript to improve the accessible user experience.

Talk abs

[2016-08-24 18:38] jakerella commented on #19
@karlgroves Thanks for the submission! Can you expand much on the abstract? What's the expected content you'll cover?

[2016-08-24 18:43] karlgroves commented on #19
This will show ways to use JavaScript in ways that improve the experience for the user. For instance, providing Audio Description to videos using the MediaController API, using Live Regions to notify users of content changes, and things like that.

[2016-08-24 18:58] jakerella commented on #19
Awesome. FYI, I wasn't just asking for me. :) We would also want to use that description in the abstract we post to the meetup site. Can you update the initial issue description?

[2016-08-26 02:57] freestylebit opened #20 "Webpack for Mortals"
Your Name: Peter Cho
Your twitter handle: [freestylebit](https://twitter.com/freestylebit)
A few words about yourself: Developer in Alexandria, Expert Gift Card Strategist, Dedicated Traveller to Quality All-You-Can-Eat Buffets, Proud Owner of an Unlimited 4G Data Plan.

Talk title: Webpack for Mortals

Talk abstract:
Curious about how you can get started with Webpack to optimize your front end?

[2016-08-26 12:51] jakerella commented on #20
Neat! Thanks Peter. We'll keep this one in mind. We're fleshing out our schedule and will be in touch after the other organizers review.

[2016-08-31 12:55] jakerella commented on #16
@samiam151 We have a short slot on Sep 8 before the main talk of the night... do you want to present this topic then?

[2016-08-31 13:39] elgreg commented on #20
+1 this sounds like a great subject for our group.

[2016-09-12 19:13] christine-sm commented on #17
Hi there! I just attended the most recent meetup last week. I'd be happy to co-present on this topic with somebody else. I am fairly comfortable with ES6, but I am not super familiar with how it compares to underscore/lodash (limited experience with both of those).

[2016-09-12 19:39] jakerella commented on #17
Hi @cmmovius! There is no specific need to compare/contrast with _any_ other library, but it was a thought. Basically, JS devs have been using libraries to do a lot of the things that ES6 does "out of the box" now, so it would be great to mention some of those particular features.

If you want to find a co-presenter, that's great! If not, we can certainly help you develop the talk yourself. I'd be

[2016-09-13 14:48] christine-sm commented on #17
Hi @jakerella! If we can go over slides and/or practice beforehand, then I would be happy to present on my own :smile: When are you targeting the next meetup date to be? Mid-October?

[2016-09-13 15:22] jakerella commented on #17
We always do talks the second Thursday of the month. That said, October is booked. :)

I'll chat with the other organizers about November soon, but there are some other talks submitted as well. If you're willing to do this one we'll make sure it gets on the schedule soon!

[2016-09-13 16:43] christine-sm commented on #17
Sounds good! This will give me more time to prepare.

[2016-09-21 15:07] shade-tree-software commented on #17
Hey Christine, I recently gave an introductory ES2015 talk at my company.  I'd be happy to do something similar with you at DCJS or help you prepare your own talk or answer any questions you might have.

Andy

[2016-09-22 13:10] christine-sm commented on #17
Hi Andy, thank you for reaching out. What resources did you find helpful when preparing to give your talk?

[2016-09-22 16:06] shade-tree-software commented on #17
Mostly I used my class notes from an ES2015 course that I took a while
back.  But I also used the documentation on developer.mozilla.org for the
stuff I wasn't too clear on.  If you'd like to see the topics I talked
about, feel free to check out my powerpoint slides at
github.com/shade-tree-software/ES2015.  The slides don't have a lot of
detail, though, because I spent most of my talk writing and

[2016-09-26 00:48] christine-sm commented on #17
Thank you for sharing; I just took a look through the slides. I had no idea that ES2015 has hash maps! I will have to explore that functionality this week.

At this point, I have decided that I would like to give this presentation on my own, as it will be a good challenge and learning experience. But I really appreciate the help you have provided thus far and hopefully I'll see you at the meetup!

[2016-09-29 11:52] shade-tree-software commented on #17
Great!  Looking forward to it :)

[2016-09-30 16:18] jakerella commented on #13
This talk is being delivered at the October meeting.

[2016-09-30 16:18] #13 closed

[2016-09-30 16:22] jakerella commented on #17
@cmmovius When you get to that point, can you provide us the typical abstract talk submission info? See below:

Your Name: [Your name]
Your twitter handle: [optional]
A few words about yourself: [why you do what you do, how you came to be filling this out, star wars vs star trek, etc., etc.]

Talk title: [Or just the topic if you don't have one yet]

Talk abstract:
[A longer description of what yo

[2016-10-01 18:09] jakerella commented on #14
Hi! So we were hoping you could deliver this in November, would you be free? It would be November 10.

[2016-10-01 21:15] fillerwriter commented on #14
Sounds good to me. Should I plan on this being a full session or a half-session?

[2016-10-02 14:02] jakerella commented on #14
Awesome! A full session, but maybe 45 minutes? I was thinking about throwing in a short talk before yours.

[2016-10-02 14:04] jakerella commented on #16
Hi Nicolas! With Angular 2 out for real now I we were hoping you could do this short talk for us in November (the 10th). We would have another speaker after you, so we'd have to keep it around 10-15 minutes, is that doable?

[2016-10-02 15:35] samiam151 commented on #16
That sounds good! I'll put that down.

On Sun, Oct 2, 2016 at 10:04 AM, Jordan Kasper notifications@github.com
wrote:

Hi Nicolas! With Angular 2 out for real now I we were hoping you could do
this short talk for us in November (the 10th). We would have another
speaker after you, so we'd have to keep it around 10-15 minutes, is that
doable?

—
You are receiving this because you were mentioned.
Rep

[2016-10-02 21:18] christine-sm commented on #17
Your Name: Christine Movius

Your twitter handle: @cmmovius

A few words about yourself: Christine Movius is a GIS Application Developer based in Washington, DC. She creates web maps for mission-driven organizations, with a focus on visualizing data in fields such as education and the environment. In her former lives she was an actor and a Fulbright Grantee in Malaysia.

Talk title: ES6 Sans React

[2016-10-03 01:35] jakerella commented on #17
This is a great start! And yes, November we've just nailed down.

On the abstract, bullet points can be handy in moderation, but could you "sentencize" that a bit more? Remember, this is intended to "sell" your talk to a potential audience. I think (personally) you can just leave off the React bit and talk about all the cool ES6 features, but maybe add a bit about why people should care?

[2016-10-03 02:14] christine-sm commented on #17
Sounds good. I will make adjustments this week!

[2016-10-14 01:08] christine-sm commented on #17
Hey @jakerella here is an updated abstract. Let me know what you think!

ECMAScript2015 (6th Edition) or “ES6” for short, is a major update to the implementation of JavaScript. ES6 provides additional features to JavaScript––such as improved variable scope and Classes––that every Javascript developer can take advantage of! In this presentation, we will cover many of the new features in ES6, and ho

[2016-10-14 02:28] samiam151 commented on #20
Can't wait for this one.

[2016-10-14 11:05] jakerella commented on #17
Sounds good!

[2016-10-28 21:41] jakerella commented on #16
https://www.meetup.com/DC-JavaScript/events/235185256/

[2016-10-28 21:42] jakerella commented on #14
https://www.meetup.com/DC-JavaScript/events/235185256/

[2016-11-21 21:00] #14 closed

[2016-11-21 21:00] #16 closed

[2016-11-21 21:17] jakerella commented on #19
Hi Karl! Can we get an update on the "official" abstract for the talk?

[2016-11-23 01:19] christine-sm commented on #17
@jakerella here are my updates!

Your Name: Christine Movius

Your twitter handle: @cmmovius

A few words about yourself: Christine Movius is a GIS Application Developer based in Washington, DC. She creates dynamic mapping applications for mission-driven organizations, with a focus on visualizing data in fields such as education and the environment. In her former lives she was an actor and a Fulbr

[2016-11-27 09:17] mapmeld opened #21 "Talk Proposal: Arabic internationalization"
Your Name: Nick Doiron
Your twitter handle: @mapmeld
A few words about yourself: traveling web developer and mapmaker, previously with Code for America, One Laptop per Child, and the Museum of Modern Art. I recently created the right-to-left language layout for the OpenStreetMap editor.

Talk title: Arabic internationalization

Talk abstract:
Practical examples of supporting Arabic script on the w

[2016-11-28 20:16] jakerella commented on #19
Are you able to give this talk January 10?

[2016-12-01 13:32] karlgroves commented on #19
Sorry for the delay. Had to check schedules with the wife. ;-)

Yes, I can do Jan 10.

Karl

On Mon, Nov 28, 2016 at 3:16 PM Jordan Kasper <notifications@github.com>
wrote:

[2016-12-01 14:05] jakerella commented on #19
Great!! We'll get that event set up and announce it at the December meetup next week.

[2016-12-19 18:28] #17 closed

[2017-01-04 16:21] jakerella commented on #19
@karlgroves OMGOMGOMG... I am SO sorry... I totally misread the calendar. DCJS is supposed to be THURSDAY, JANUARY 12!

Any chance you can still do that??

[2017-01-11 00:13] rpchurchill opened #22 "Introduction to Three.js and WebGL"
Your Name: R.P. (Bob) Churchill
bob@rpchurchill.com
www.rpchurchill.com

Your twitter handle: none

A few words about yourself: I'm a long-time mechanical engineer, process analyst, and technical software developer specializing in simulation, real-time computing, control systems, and informational graphics.

Talk title: Introduction to Three.js and WebGL (and even Virtual Reality!)

Talk abstract:

[2017-01-17 17:54] jakerella commented on #21
What's the expected length here? We'll be doing lightning talks in February and if you think this could fit into 10 minutes or less we can do it then. If you feel this should have a longer slot then we'll give it a look for a future month.

[2017-01-17 17:56] jakerella commented on #15
Hi! We'll be doing lightning talks in February for the meetup. These need to be 10 minutes or less... do you think your talk would fit into that time slot? If not, let's try to get this into March or April depending on your availability!

[2017-01-18 11:58] mapmeld commented on #21
I could do 8-10min, but February might be too soon; I'm traveling until Feb
27. Would the March meetup be possible (before March 20th?)

On Jan 18, 2017 1:55 AM, "Jordan Kasper" <notifications@github.com> wrote:

[2017-01-18 18:49] jakerella commented on #21
Well, the idea was to fit this into our "lightning talk" meetup, which is February 9. We haven't started the scheduling for any later months yet! We'll keep it in the queue for review though!

[2017-01-19 13:05] rcheuk commented on #15
Hi! What day is the February meetup scheduled for?

On Tue, Jan 17, 2017 at 12:56 PM, Jordan Kasper <notifications@github.com>
wrote:

--

Rachel Cheuk
[image: https://]about.me/rachelcheuk
<https://about.me/rachelcheuk?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-01-20 15:06] jakerella commented on #15
February 9!

[2017-01-20 15:09] rcheuk commented on #15
Great. That should work fine for me. I can condense my talk to a 10 min or
less lightening talk, and if there's interest for a longer talk, happy to
do one another time.

Thanks!

On Fri, Jan 20, 2017 at 10:06 AM, Jordan Kasper <notifications@github.com>
wrote:

--

Rachel Cheuk
[image: https://]about.me/rachelcheuk
<https://about.me/rachelcheuk?promo=email_sig&utm_source=email_sig&utm_medium=emai

[2017-01-24 01:09] jakerella commented on #15
Thanks @rcheuk! I have you on the schedule. We're posting the meetup now. 10 minutes or less is typically expected for a lightning talk, BUT we could try to have you back for an expanded talk another time!

[2017-01-24 01:12] #19 closed

[2017-01-24 15:31] jreading opened #23 "Using JOI on the client and server"
Your Name: John Reading
Your twitter handle: johnnyreading
A few words about yourself: A full-stack javascript masquerading as a Software Engineering Manager for Morningstar

Talk title: Using JOI for shared schemas across app, web and db tier.

Talk abstract: At Morningstar we use an innersource framework called Capitol Framework that uses JOI from Walmart labs that was designed to provide schema

[2017-01-25 12:33] darkyen opened #24 "Hybrid Apps and OAuth Authentication. (PIXY's quest for safer native apps: The battle for HybridLand)"
Hi sorry to be late to the party. I recently found out I'll be in DC for the month of Feb and would love to share my expertise in OAuth & OIDC.

Your Name: Abhishek Hingnikar
Your twitter handle: darkyen00
A few words about yourself: I am a full stack developer and have worked on things from Cordova to Sending JWTs over a custom written audio modem using speaker and mic (in cordova). I enjoy conne

[2017-01-25 13:05] jakerella commented on #24
Thanks for submitting Abhishek! I see that you specified 10-15 min... we need to keep lightning talks _under_ 10 minutes. Is that possible?

[2017-01-25 16:35] darkyen commented on #24
Yep, I can make it under 10 minutes :)

[2017-01-25 17:02] jakerella commented on #24
Sounds good! I'll add you to the list.

[2017-02-02 14:00] jakerella commented on #20
Hi @freestylebit! Would you be available to deliver this talk for our March meetup? It would be on March 9 at 6:30pm.

[2017-02-02 15:14] freestylebit commented on #20
That date should be good for me.  Seems like the webpack world has evolved since I last created the repo, so I'll spend some time this month updating the presentation.  I'll post updates here when I get to it next week.

Thanks!

[2017-02-02 16:30] jakerella commented on #20
Fantastic! Consider it set. We'll announce at the February 9 meetup.

[2017-02-07 14:44] jakerella commented on #23
Talked to John, he's going to try to get this into Feb. for lightning talks.

[2017-02-10 00:25] #15 closed

[2017-02-10 00:25] #23 closed

[2017-02-10 00:25] #24 closed

[2017-02-10 00:27] jakerella opened #26 "JS Frameworks TL;DR"
I'd like to see a basic talk comparing the major front-end JS frameworks (React, Angular 1 & 2, Ember, maybe Vue?).

[2017-02-22 05:24] rpchurchill commented on #22
I gave this talk in Baltimore on February 1st and it went over reasonably well.  Let me know if you have any trouble viewing the slides here:

[https://slides.com/qulatan/deck/fullscreen/](https://slides.com/qulatan/deck/fullscreen/)

I may make a couple of brief additions but the point is that it's ready to go when you are..

[2017-02-22 13:53] jakerella commented on #20
This is scheduled! Please be sure to RSVP. https://www.meetup.com/DC-JavaScript/events/237892043/

[2017-02-22 18:26] jakerella commented on #22
Neat! Thanks... how long was that session?

[2017-02-22 19:59] rpchurchill commented on #22
About 20 minutes.  Maybe less.

[2017-02-22 21:44] freestylebit commented on #20
I should be RSVPed now.  I'm almost done modifying a couple more things, but I should be ready to go by the end of this week.

[2017-02-22 21:52] jakerella commented on #22
Cool... We might take that and throw it in front of another talk in April or May if you're up for it!

[2017-02-24 18:10] mapmeld commented on #21
I've (mostly) moved back to DC! Let me know if this would be good sometime soon

[2017-03-15 14:25] jmdembe commented on #26
I'll take this.

[2017-03-15 23:46] jakerella commented on #26
Awesome! How much time do you think you'll need? That is... when do you think you might be ready? And what can we do to help?

[2017-03-16 02:51] jmdembe commented on #26
I think this would be a great half talk if this were a crash course on
frameworks. I would like at minimum a month to perfect, so I could present
in May at the very earliest.

What I will do this weekend is sent the outline that is swirling around in
my head and ask what else you would like to see discussed or added.

Does that sound good?

On Wed, Mar 15, 2017 at 7:46 PM Jordan Kasper <notificati

[2017-03-17 19:35] jakerella commented on #26
By "half talk" do you mean half of a DCJS meetup, like 30 min? I think there might be more content than would fit into 30 minutes.

If you want to shoot for May we could, but we're happy to have you any time. I know you just started a new gig, so I get it if this has to take a back seat.

[2017-03-30 02:08] nvioli opened #28 "Javascript for Sound Art"
Your Name: Nick Violi
Your twitter handle: nvioli
A few words about yourself: Hi, I'm Nick. I've been programming in various capacities for 10+ years (well, I guess if you want to reach back to my TI-83 days it's more than that, but I'd rather not date myself). I've been working as a capital-P programmer for the last 4+, hired as a full-stack engineer, but focusing on frontend development for the

[2017-03-30 02:09] nvioli opened #29 "A talk about svelte.js"
Your Name: Nick Violi
Your twitter handle: nvioli
A few words about yourself: Hi, I'm Nick. I've been programming in various capacities for 10+ years (well, I guess if you want to reach back to my TI-83 days it's more than that, but I'd rather not date myself). I've been working fulltime as a capital-P programmer for the last 4+, hired as a full-stack engineer, but focusing on frontend development

[2017-03-30 14:06] samuelneff commented on #26
Great talk idea. Would be nice to see specific examples that highlight best-use-case for each framework, if they exist (i.e., situation where each framework shines over others). Also any unique features that make particular things much easier in some frameworks vs others, or specific things that are difficult in some frameworks.

[2017-03-30 21:52] jmdembe commented on #26
Noted. Thank you!

On Thu, Mar 30, 2017 at 10:06 AM, Samuel Neff <notifications@github.com>
wrote:

Great talk idea. Would be nice to see specific examples that highlight
best-use-case for each framework, if they exist (i.e., situation where each
framework shines over others). Also any unique features that make
particular things much easier in some frameworks vs others, or specific
things that are

[2017-03-31 14:41] uncompiled opened #30 "Web Performance Auditing"
**Your Name**: Chris Nguyen
**Your twitter handle**: [@uncompiled](https://twitter.com/uncompiled)
**A few words about yourself**: I'm a backend developer disguised in web developer clothing.  I've been in the tech industry for a while, but now I develop platform software for the web.  I haven't seen much talk about web performance in the area, so I thought I'd give it a shot.

**Talk title**: Nav

[2017-04-04 01:27] elgreg commented on #30
This sounds like a great idea! We definitely could use more talks about performance and optimization.

[2017-04-04 01:27] elgreg commented on #28
Chatted with @jakerella about this and I think we're both equally pumped about the sound presentation. When are you thinking? July?

[2017-04-04 15:19] jakerella commented on #30
👍

[2017-04-14 19:16] tmcw opened #32 "[ON HOLD] JavaScript on JavaScript: how the parser & generator ecosystem makes new things possible"
Your Name: Tom MacWright
Your twitter handle: tmcw
A few words about yourself: I'm a freerange tinkerer and open source maintainer, currently spending time learning and building projects including [simple statistics](http://simplestatistics.org/) and [documentation.js](http://documentation.js.org/). Previously, I built mapping software at Mapbox

Talk title: JavaScript on JavaScript: how the parse

[2017-04-16 01:39] uncompiled commented on #30
Thanks!  I'll start putting this together. 🎉

[2017-04-16 20:34] jmdembe commented on #26
Does "JS Frameworks and Libraries 101" work as a title? Also, how is this for a synopsis:

In a world where JavaScript frameworks appear every 2 seconds, come to my talk where I will give an overview on five very popular frameworks--Angular, AngularJS, React, Vue, and Ember. Come to this talk to figure out what they are, how they work, and use cases to see how these frameworks operate.

[2017-04-17 23:19] elgreg commented on #26
TIL there's a difference between Angular and AngularJS! What about Angular 4... is that a thing we should talk about?

Title could be shorter. How about "JS Frameworks TL;DR" or something about it being a short intro to several and how they're different?

[2017-04-17 23:38] jmdembe commented on #26
Angular 4 is grouped into Angular along with all future releases. I will talk about it, but it shouldn't be considered a separate framework from Angular.

I like JS Frameworks-TL;DR!

[2017-04-18 00:45] jakerella commented on #26
I think the description is ok, but would like to see it expanded slightly. For example" what they are, how they work, and use cases..." is really general. In particular, "how they work" seems like weeks of instruction for each! Can we be more specific about this? I would also like to see what an attendee will come away with from this talk.

On the "Angular" vs "AngularJS" vs "Angular 2/4/37" ... a

[2017-04-21 01:07] jmdembe commented on #26
I tried to incorporate feedback provided so far. Let me know what you think:

In a world where JavaScript frameworks appear every 2 seconds, come to my talk where I will give an overview on five very popular frameworks--Angular (2+), AngularJS(1.x.x), React, Vue, and Ember. This talk will help you understand the basics about each of these frameworks and why you would choose one framework of anothe

[2017-04-21 12:42] jakerella commented on #26
I think this is good for us. Just as an FYI if you were to shop this around to other user groups or conferences, I think you need to expand the abstract (description) quite a bit. Most places want more information about what, exactly, you'll be covering, why this matters, what attendees will get out of the talk (a bit more so than you have), and possibly a bit on what you are _not_ covering (to se

[2017-04-21 14:10] jmdembe commented on #26
Will do. Thank you!

[2017-04-21 20:27] EvanSanderson opened #33 "Riot.JS + Contentful CMS"
Your Name: Evan Sanderson
Your twitter handle: @evanitoj
A few words about yourself: Im a developer at nclud and while not a master jedi developer by any means, might have a wee bit of wisdom to impart here and there

Talk title: A Contentful Riot (oh man that is cheesy just typing it)

Talk abstract:
Doing a project at work that involves using Riot.js, which I hadn't come across before. It bills

[2017-04-25 17:43] asabaylus commented on #26
@jmdembe can you give me your Bio?

[2017-04-25 20:42] jmdembe commented on #26
Jessica Dembe is an Associate Technical Consultant with Blackstone
Technology Group. Her work is with using JavaScript to enhance the user
experience for government clients. When she is not on the clock, she is
exploring as many peanut-free restaurants that she can find, trying a new
recipe, and figuring out how to get into exercise again.

On Tue, Apr 25, 2017 at 1:43 PM, Asa Baylus <notification

[2017-04-26 02:46] asabaylus commented on #32
@tmcw thanks for submitting, I'd definitely like to get you setup with a date! Your past talks at DCJS were a big hit, glad to have you come back.

[2017-04-26 10:44] chuckcarpenter opened #34 "Let's talk Glimmer.js"
Your Name: Chuck Carpenter
Your twitter handle: chuckcarpenter
A few words about yourself: Previously at National Geographic and now with a startup SaaS company, I like long walks on the beach, sunsets, and OSS.

Talk title: Glimmer.js (or how I learned to love Ember.js)

Talk abstract:
People tend to love or hate Ember for the same reason that it's a complete suite and is opinionated in it's way

[2017-04-27 19:24] asabaylus commented on #32
@tmcw how's Sep 14th or Oct 12th work for you?

[2017-04-30 22:53] tmcw commented on #32
September 14th works great for me

[2017-05-02 02:38] #20 closed

[2017-05-02 12:37] asabaylus commented on #32
@tmcw we're booking you for Sept 14th, thanks!

[2017-05-13 16:56] jumpinjan opened #35 "React 101"
Your Name: Janice Gluck
Your twitter handle: @JumpinJanice (but I don't really use twitter)
A few words about yourself:  Lead Engineer with lots of experience in a wide range of technologies and applications.   I build software because its my calling in life and I love doing it.  The best part of being a software engineer is learning new technologies and applying them to real world problems.  Reac

[2017-05-14 14:36] jakerella commented on #35
w00t!

We're planning this for July, correct?

[2017-05-15 12:11] ghost commented on #35
I am planning on it for July.

[2017-05-24 03:22] sjones6 opened #36 "GunJS: Up and Running"
Your Name: Spencer Jones
Your twitter handle: jones_spencera
A few words about yourself: I write proprietary software by day in Herndon, and open source by night. Contributor to GunJS. Building arsenalio.com.

Talk title: GunJS: Up and Running (provisional title)

Talk abstract:
GunJS is a realtime, offline-first, peer-to-peer graph database written in JavaScript—it's kind of like an open-source F

[2017-05-27 17:45] aryzle opened #37 "React Redux 101"
Your Name: Arya Seghatoleslami
Your twitter handle: @aryzle
A few words about yourself: I love creating things, I'm a software engineer at Securiport, Star Wars all the way

Talk title: React-Redux 101

Talk abstract:

coming off the talk about React 101 we should talk about it's partner in crime: redux. I'll introduce the concept of flux, how redux is a little different than flux, how redux works

[2017-05-28 21:12] jakerella commented on #37
Does this indicate that you are _only_ available in August? I'm not sure if we can accommodate this or not as we had some other interest in August already.

Ah! Nevermind... I see you said august and forward. thanks!

[2017-05-28 21:13] jakerella commented on #37
Can you expand on the talk abstract though? We'd like to see a little more about the topic in general (redux). Also, there is no need to mention the React 101 talk since we don't know when we'll fit this in the schedule.

[2017-05-30 14:50] #26 closed

[2017-06-07 12:59] asabaylus commented on #35
@jumpinjan when you get a chance can you add a synopsis so we can promote the talk on React?

[2017-06-14 18:26] nvioli commented on #28
I picked a topic and set up my dev environment, so I'm basically like 90% done.
</jokes>

July might be a bit ambitious; I'll see how far I get in the next few weeks and keep you posted.

[2017-06-14 19:41] jakerella commented on #28
July is taken now. :) So is September, and I'm not sure about August... @elgreg or @asabaylus did we check on August?

[2017-06-16 14:26] #34 closed

[2017-06-16 14:34] jakerella commented on #21
Hi @mapmeld! We have a speaker for August, but we'd love to have you do this short session beforehand. Can you keep it to 10 min or so? (No hard limit)

[2017-06-16 17:08] mapmeld commented on #21
What day in August? I might be at Gerrymandering Summer School in Boston (Aug 7-11)

[2017-06-16 18:08] kscoulter opened #38 "How To Get the Most Value out of Code Reviews"
Your Name: Ksenia Coulter
Your twitter handle: @kscoult

Bio: Neuroscientist turned coder, Ksenia is a front end web developer at Washington Post. She is passionate about making DC tech a supportive, inclusive community for everyone. In her spare time she dances swing, plays obscure boardgames, and gives excellent pep talks to all who need them.

Talk title: How To Get the Most Value out of Code R

[2017-06-16 18:15] jakerella commented on #21
Ack! Yes, it would be Aug 10. We'll have to look for another date then.

[2017-06-17 08:46] mapmeld commented on #21
closing until I move back to DC

[2017-06-17 08:46] #21 closed

[2017-06-20 22:06] jakerella commented on #35
This is up on meetup!

https://www.meetup.com/DC-JavaScript/events/240606440/

[2017-06-21 01:38] ghost commented on #35
Great!   But I work for Hobsons not Nat Geo

Thanks
Janice

Sent from my iPhone

On Jun 20, 2017, at 6:07 PM, Jordan Kasper <notifications@github.com<mailto:notifications@github.com>> wrote:

This is up on meetup!

https://www.meetup.com/DC-JavaScript/events/240606440/

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/dcjs/talk

[2017-06-21 14:15] jakerella commented on #35
ACK! Fixing now....

[2017-06-28 19:16] tmcw commented on #32
So, change in plans: I'm moving out of the DC area in August, so I won't be able to give this talk in September. Sorry about that!

[2017-07-03 18:44] jakerella commented on #32
Noooooo! Dang man, well... hope it's a good move for you.

Let us know when you might be back in town and we can try to work this in. I'll mark it as "on hold" for now... unless you want us to close it.

[2017-07-03 18:47] jakerella commented on #38
I think this sounds great! It would be great if we could focus on examples in front end code... but I get that this isn't really a code-heavy talk.

[2017-07-03 18:48] jakerella commented on #38
Oh, and being 20-30 minutes, we'll probably do a double-talk night when we do this, FYI.

[2017-07-03 18:49] jakerella commented on #36
Crazy! We'll look this over and get back to you. A bit more in the abstract would help though!

[2017-07-03 18:50] jakerella commented on #33
Sounds interesting... is this more of a case study, or a how-to?

[2017-07-03 18:52] jakerella commented on #29
I think you have a hidden gem in here... " a talk about it would be a great way to learn the framework." What if the talk was ABOUT learning a new framework? In other words, with all of them that we have these days, how _should_ a developer ramp up in a new framework?

[2017-07-03 18:53] jakerella commented on #30
Let us know if this is leaning toward 30 min or 45... we have 1 or 2 shorter talks (20-30 min) and we might put two in one night.

[2017-07-06 15:12] uncompiled commented on #30
I can do 30 minutes.

[2017-07-06 16:58] kscoulter commented on #38
@jakerella, just saw this! Yes, the talk has multiple front-end examples.

[2017-07-06 17:06] jakerella commented on #30
Cool cool... we've got things through September right now, but let's chat about doing this one in the Fall.

[2017-07-06 19:40] aryzle commented on #37
@jakerella I updated the abstract, is that better?

[2017-07-11 23:33] jakerella commented on #37
We have more info now, and that's great! But what we need is ONE solid paragraph, not in bullet point form, but in full sentences that people who might have no idea what redux is (or even react) can understand. I'm happy to take what you have you here and try to create that if you would like me to help. But feel free to give that a go yourself.

[2017-07-20 11:58] aryzle commented on #37
@jakerella oh sorry, I think I got what you're looking for now in the abstract

[2017-07-22 16:37] jakerella commented on #37
Awesome! Thanks. Now we just need to wait a bit. Last month's talk was on React, and we have a short on React in August (along with a second talk). I think we'll need to space these out a bit so it doesn't look like we're the ReactDC meetup.

[2017-07-23 18:03] #35 closed

[2017-07-23 18:03] elgreg commented on #28
Accepted for September!

[2017-07-24 18:44] aryzle commented on #37
haha ok no problem 😄

[2017-07-31 10:50] sjones6 commented on #36
@jakerella : I've updated the abstract with some more details on what the talk would look like. Let me know if that helps!

[2017-08-15 13:21] jakerella commented on #28
Hey @nvioli! Just making sure that you are still good for September 14. Let us know and we'll get the meetup invite out!

[2017-08-15 18:00] freestylebit opened #39 "Code Linting and Formatting"
Your Name: Peter Cho
Your twitter handle: @freestylebit
A few words about yourself: Finally finished season 3 of Game of Thrones, early adopter of HD-DVDs, terrible at secret identity games.

Talk title: Automatic Code Styling in Less Than 58 seconds

Talk abstract:
Want to introduce to the community some relatively quick and easy ways to incorporate linting and code style formatters into their wo

[2017-08-15 23:56] nvioli commented on #28
Yep yep! Hard at work on the presentation. The working title is "Web Audio
+ Visualizations with p5.js", or feel free to use whatever you think is
best.

Looking forward to it!

On Tue, Aug 15, 2017, 09:21 Jordan Kasper <notifications@github.com> wrote:

[2017-08-17 00:35] jakerella commented on #28
That's bit of a mouthful. :) What about the original title above? I don't think you need to be so specific in the title. Anyway, we're super excited!! Once you have the title and abstract nailed down let's get the event posted. Let me know if you need any help!

[2017-08-17 01:53] nvioli commented on #28
Sure, title of the issue is fine too.

Here's a quick swing at an abstract:
Javascript isn't just for building forms and making divs appear and disappear! In our September meetup, Nick will introduce p5.js, a powerful yet approachable library geared towards artists and beginner programmers. P5 supplies the browser with components for drawing and manipulating shapes, building animations, creating a

[2017-08-18 12:58] jakerella commented on #28
I love it! Let's run with it. I'll get the meetup event set.

[2017-08-24 17:15] tommymarshall opened #40 "Styling your React App using Styled Components"
**Name:** Tommy Marshall
**Twitter handle:** [@tommyjmarshall](https://twitter.com/tommyjmarshall)
**A few words about myself:** Northern Virginia native, GMU Economics grad, loves building things on the web.
**Website:** [tommyjm.com](http://tommyjm.com)

## Talk title
Six reasons why you should be using Styled Components

## Talk abstract:
Styling JavaScript apps is deceitfully hard. With so man

[2017-08-26 21:08] nvioli commented on #28
Just checking in, haven't seen the event yet. Also I was talking to Greg about speakers (being an audio presentation and all). He suggested a Bluetooth one but I wonder if anyone has access to a better setup? I'll ask around too...

[2017-08-27 00:58] elgreg commented on #28
Thanks for the prod! It is scheduled and announced as of a few minutes ago!

I wish we had a PA. Alas, no dice. Not sure if anyone is working for a
place that has one or could provide one. I'll ask around.

On Sat, Aug 26, 2017 at 5:08 PM, Nick Violi <notifications@github.com>
wrote:

[2017-08-27 15:50] jakerella commented on #28
I can bring some logitech speakers to connect to your computer... not great, but better than the laptop speakers. No mic. Let me know

[2017-08-27 17:18] asabaylus commented on #28
I've got a pretty loud Bluetooth nose speaker that I think may work

Sent from my iPhone

[2017-08-27 18:15] nvioli commented on #28
Cool, thanks guys, sounds like we have some options. I have a pair of Sonos
speakers that are quite loud, but don't have a line in. I was doing some
reading about casting from a computer and found some leads that I'll play
around with when I'm home. If that doesn't work maybe we can all just bring
what we have and figure out the best solution when we get there.

On Sun, Aug 27, 2017, 11:50 Jordan

[2017-08-27 19:45] asabaylus commented on #28
Hi Nick have you looked at air parrot?
http://www.airsquirrels.com/airparrot/

It may do the trick for streaming to your sonos speakers

Asa

Sent from my iPhone

[2017-08-27 20:00] nvioli commented on #28
Thanks, Asa. I'll check that out.

On Sun, Aug 27, 2017, 15:45 Asa Baylus <notifications@github.com> wrote:

[2017-09-11 02:04] nvioli commented on #28
Hey guys, just want to finish up the speaker conversation. The Sonos thing isn't going to work. I borrowed a small set of Logitech speakers, but is it annoying if I ask you both (Asa and Jake) to bring the speakers you have and we can just figure out the best solution before the presentation?

[2017-09-11 11:43] asabaylus commented on #28
Sure the speaker I have may be too small but I'll bring it no harm in trying

Asa

Sent from my iPhone

[2017-09-11 13:47] elgreg commented on #28
I have a pretty loud bluetooth one that I'll bring as well. I'll try to get
there by 5:30pm or 6 so that we can test it out without disrupting too much.

On Mon, Sep 11, 2017 at 7:43 AM, Asa Baylus <notifications@github.com>
wrote:

[2017-09-11 16:29] asabaylus commented on #28
I think we should be able to use ampme to share Bluetooth across multiple speakers https://www.techforpc.com/tag/ampme-for-windows-and-mac/

Sent from my iPhone

[2017-09-12 23:13] jakerella commented on #28
Do we have a final solution? @nvioli ?

[2017-09-12 23:25] nvioli commented on #28
@jakerella I think we have some good options and we should just all bring them and find the best combination a few minutes beforehand. If it's a pain for you to bring yours nbd.

[2017-09-13 12:41] jakerella commented on #28
Mine is a fairly big setup (all the speakers plug into the subwoofer). If we think that's the best option I am happy to bring it, just need to know if there are other good options.

[2017-09-13 13:18] nvioli commented on #28
Ooh, if yours has a dedicated sub I think that sounds like the best option...

[2017-09-13 18:15] tommymarshall commented on #40
Up. :)

[2017-09-21 00:54] chadhietala opened #41 "A Walk Through The Glimmer Virtual Machine"
Your Name: Chad Hietala
Your twitter handle: chadhietala
A few words about yourself: I'm a Senior Staff Engineer at LinkedIn that primarily works on open source solutions. I'm also on the Ember Core Team.
Talk title: A Walkthrough The Glimmer Virtual Machine

Talk abstract:
Over the past 2 years I've worked on the rendering engine that is used in Ember and Glimmer applications. Unlike majority of

[2017-09-22 19:25] tommymarshall commented on #40
I'll be presenting this to React DC looks like. Perhaps I can do a GraphQL one for DC JS soon!

[2017-09-23 13:28] jakerella commented on #40
Happy to hear that you'll be giving it regardless! Thanks anyway

[2017-10-01 17:52] #28 closed

[2017-10-02 21:16] lizafloyd commented on #33
@EvanSanderson would love to talk with you about doing this one! Can you email me lizafloyd@gmail.com?

[2017-10-07 21:11] aberkie opened #42 "Orchestrated and Serverless Micro-services in the Cloud - JavaScript Case Study from PBS KIDS"
Your Name: Aaron Berkowitz
Your twitter handle: asberk

A few words about yourself: Hello! I am the Director of Technology at PBS KIDS. My team and I use JavaScript to architect solutions for products and solutions for children, parents, and teachers across the country. We are looking to share our experience, get feedback, and meet developers in the community.

Talk title: Orchestrated and Serverl

[2017-10-31 14:02] jakerella commented on #36
You're talk is up! Be sure to RSVP: https://www.meetup.com/DC-JavaScript/events/244605651/

[2017-10-31 14:02] #30 closed

[2017-11-07 19:06] tommymarshall commented on #40
@jakerella The talk was pretty successful. [Here are the slides](http://slides.com/tommymarshall/styled-components). Wouldn't mind giving the presentation again for DCJS. What do you think?

[2017-12-26 19:14] #36 closed

[2017-12-29 17:09] jakerella commented on #38
Hi @kscoulter! I know Liza reached out to you, we're creating the meetup invite now, but just confirming here that you're good with January 11! (I ask because I notice on here it literally says _not January_.)

[2018-01-04 21:20] samuelneff opened #43 "Beautiful and Functional Responsive Tables"
_Your Name:_ Samuel Neff

_Your twitter handle:_ n.a.

_A few words about yourself:_

Sam is a full stack software engineer with Lab49, focusing on React and custom CSS, with twenty years of experience spanning Java, .NET, and many others. Prior to engineering, Sam has education and experience in international relations and economics.

Lab49
http://www.lab49.com/

Samuel Neff
https://www.linkedin.

[2018-01-18 00:06] #38 closed

[2018-01-18 00:21] lizafloyd commented on #37
Hey @aryzle , how goes? This sounds like a great talk, and now that some time has passed, maybe we can get you on the schedule! Are you still interested? Also, thinking with as much ground as you want to cover, running long is a distinct possibility. Any thoughts on what goes first if that happens?

[2018-01-18 00:26] lizafloyd commented on #12
Hey @ifrit , wondering what you're thinking of discussing as "non-trivial aspects"? Trying to get a good sense of what to expect here! Thanks, looking forward!

[2018-01-18 00:29] lizafloyd commented on #33
Pinging again with hope in my heart @EvanSanderson !

[2018-01-18 01:02] lizafloyd commented on #40
Hey @tommymarshall your slides look really interesting! You're availability is still good through the spring? Thanks!

[2018-01-18 15:26] tommymarshall commented on #40
@lizafloyd Would love to! Sign me up 👍

[2018-01-20 13:39] shannonturner opened #44 "How to draw an Owl"
**Your Name:** Shannon Turner
**Your twitter handle:** https://twitter.com/svthmc
**A few words about yourself:** Founder of Hear Me Code, offering free, beginner-friendly coding classes for 3000 women in DC.

**Talk title:** How to draw an owl -- don't do it all at once! (How I built [MetroMapMaker.com](https://metromapmaker.com))

**Talk abstract:**
The most common question I get from new develo

[2018-01-20 15:00] kkrivera opened #45 "An Introduction to Typescript"
Your Name: Kris Rivera
Your twitter handle: N/A
A few words about yourself: I am a Senior Software Engineer of 11 years and love working on personal projects. I own my own company and have developed 2 games with my partner. I am also a black belt in Shudokan Karate and enjoy playing basketball.

Talk title: An Introduction to Typescript

Talk abstract:
This will be a talk about introducing Typescr

[2018-01-22 22:17] mandy6720 opened #46 "Intro to GatsbyJS"
Your Name: Amanda Bozzi

Your twitter handle: apiamanda

A few words about yourself: I'm a JavaScript engineer at SBD2, on a government contract that's a ground up re-write of PECOS, the tool healthcare providers use to register for accepting Medicare/Medicaid. I'm here, filling this out because I was contacted by Liza, who found me on WeSpeakToo and asked if I had any talks I wanted to share. I l

[2018-01-24 02:33] lizafloyd commented on #46
This looks great @mandy6720 ! Let me offline with my co-organizers about scheduling and reach back out 👍

[2018-01-24 02:35] lizafloyd commented on #45
Looks very cool @kkrivera , thanks for submitting! Can you give me a sense of what you're thinking of discussing in the "basics of the language" section? Just to flesh out my understanding of what to expect. Thanks!

[2018-01-24 02:38] lizafloyd commented on #44
This looks super duper cool @shannonturner . Thanks for submitting! Also love the owl metaphor. I'm curious for a little more info on how you break down the steps in your talk? Thanks for the clarity!

[2018-01-24 12:58] kkrivera commented on #45
Hi Liza,

Yes, on microsoft's Typescript wiki page (
https://github.com/Microsoft/TypeScript/wiki), there is a section for
Language Basics.
Depending on how much time I am allowed, I would consider covering up Basic
Types, Interfaces, Classes, Namespaces and Modules, and Functions. I was
planning on making an 'advanced typescript' session as well, at a later
date, as well as an interactive talk on

[2018-01-25 00:57] shannonturner commented on #44
Thanks @lizafloyd!

Here's an outline of my idea:

Part One
- Why it's hard to "just" build a project
- The dilemma: learn something new or stick to what you know?
- What makes for a good project idea?
- Deciding on a project idea
- Starting with a sketch

Part Two
- Breaking problems into tiny pieces
- Creating your proof of concept
- From concept to code

Part One is mostly talking through the p

[2018-01-25 15:59] lizafloyd commented on #40
Hi @tommymarshall how's our Feb meetup, on Thursday the 8th, 6:30 event start, talk at 7?

[2018-02-09 15:57] esonderegger commented on #18
I've attended the last two DCJS meetups and really enjoyed the talks, especially last night's jQuery in ES6 talk. Thanks to all who helped organize it!

I've never given a technical talk before, but thought it might be fun to give a talk about using javascript in robotics applications. Initially I was thinking it could be an unusual starting point for a talk about thinking asynchronously and using

[2018-02-11 17:52] jakerella commented on #18
I think this sounds great! Please let us know about your progress. I'd say open a new issue here when you have the beginnings of an abstract and we can iterate on that. Thanks!!

[2018-02-11 17:53] jakerella commented on #32
Closing the issue for now, but let us know if you make it back to DC!

[2018-02-11 17:53] #32 closed

[2018-02-14 18:13] tommymarshall commented on #40
Followed up via email!

[2018-02-15 01:37] jakerella commented on #40
Hey there! Was that only to Liza? I don't think I'm on that chain. In any case, would you be available March 8?

[2018-02-15 01:39] jakerella commented on #33
Hey @EvanSanderson we'd still like to hear from you on this one, but if we don't we'll probably close the issue. Can you let us know if you're up for it sometime soon? Possibly April?

[2018-02-15 01:40] jakerella commented on #22
Hi there @rpchurchill! It's been a while, sorry. We tend to lose track of things. Would you be up for doing this on April 12? Trying to line things up in advance.

[2018-02-15 01:42] jakerella commented on #39
Hey Peter! Just an FYI, we're waiting on a month when we have a shorter talk that we can put this in front of, or an all lightning talk month. That said, we're all up for having it!

[2018-02-15 06:10] freestylebit commented on #39
I will get to work on a prototype for this talk this weekend.  Was planning to scope this under 10 minutes, but if we need this to be expanded, I can add a few extra things, too.

[2018-02-15 23:42] rpchurchill commented on #22
Sure, love to.  Thanks.

Just on the fly-the-by I put together (and gave in Baltimore) an additional presentation on memory management in JavaScript compared to traditional compiled languages.  See http://rpchurchill.com/presentations/JavaScriptMemoryMgt/

I'm probably going to modify it a little bit more.  I can write it up as a separate entry if you'd like.

[2018-02-20 14:31] tommymarshall commented on #40
@jakerella correct -- @lizafloyd and I followed up with each other via email. I can confirm I can speak March 8th. Our Tyson's office cannot host this time, sadly, but will be able to in the future.

[2018-02-26 14:21] chadhietala commented on #41
There is likely more to this talk since we have now landed the ability to compile templates into a binary format and currently working on a WebAssembly implementation with the folks at Tilde and Mozilla.

[2018-02-28 23:21] jakerella commented on #41
Sweet! We've got people for March and April, but maybe May or June? Need to chat with the other organizers too.

[2018-03-03 01:16] chadhietala commented on #41
June is the last month I will be living in DC so likely the only option if the other spots are filled.

[2018-03-05 00:48] joellord opened #47 "Talk Proposal"
Your Name: Joel Lord
Your twitter handle: @joel__lord
A few words about yourself: Joel Lord is passionate about web and technology in general. In his spare time, Joel shares his findings via his blog Javascript Everything (http://www.javascripteverything.com).
He is currently a developer evangelist at Auth0, is a part-time teacher at the Algonquin College in programming and is involved in various

[2018-03-08 13:38] jakerella commented on #47
Hey Joel! Looks like you also talked to the NodeDC gang. That's great! If you plan to talk there I don't think it makes sense to also have you do DCJS - there's a fair amount of overlap. That said, DCJS would be happy to promote the talk!

[2018-03-08 19:52] joellord commented on #47
Hi Jordan,
   fair enough.  The talk I give at NodeDC is a different one, more backend oriented but there is a bit of overlap in the content.  If you ever need a last minute speaker, I will be in town so just send me a message and I might be able to tweak the content to reduce redundancy.

Thanks

[2018-03-09 14:46] jakerella commented on #47
Thanks Joel! You can imagine if 50% of our audience just saw you speak last night it might be kind of weird. That said, if you don't find another speaking gig for the 10th you should come hang out with us at DCJS. ;)

[2018-03-09 14:46] #40 closed

[2018-03-14 14:19] Brantron opened #48 "[HOLD] Painless end to end testing"
Your Name: Brandon Lawrence

  A few words about yourself: I’m a software engineer at Contactually. Co-organizer of [Nova Code and Coffee](https://www.meetup.com/NoVA-Code-Coffee/). I’m attracted to shiny js things and git questions

Talk title: The End to End tool you’ve always wanted actually exists. 

Talk abstract: I recently went to Assert.JS where I saw a demo for Cypress.io. I couldn’t beli

[2018-03-23 01:33] elgreg commented on #46
Hi @mandy6720! I'm helping to wrangle our speaking schedule for the next few months. Are you still interested/able to present? Do any of these Thursdays work better or worse for you?

[2018-03-23 01:38] #47 closed

[2018-03-23 01:38] elgreg commented on #47
@joellord closing this for now. We plan to cross-promote your May 9 talk at our April meetup!

[2018-03-27 00:44] mandy6720 commented on #46
@elgreg I synced up with @lizafloyd over email - 4/12 still works for me :)

[2018-03-27 01:14] elgreg commented on #46
Awesome!

On Mon, Mar 26, 2018 at 8:44 PM, Amanda Bozzi <notifications@github.com>
wrote:

[2018-04-03 15:48] sjones6 opened #49 "webpack like a boss"
Your Name: Spencer Jones
Your twitter handle: jones_spencera
A few words about yourself: I like to write JavaScript, contribute to open source, ride bikes, and drink coffee. I manage the Webpack setup for a large project with 100+ developers.

Talk title: webpack like a boss

... I'm happy with something less bombastic too :)

Talk abstract:

webpack has extreme power but a steep learning curve. T

[2018-04-18 01:10] aryzle commented on #37
@lizafloyd hey! I just saw this... notification on github are so lame. Anyway, let me rethink the talk and get back to you on a date and what will fit in the allotted time.

What months coming up are available?

[2018-04-18 01:12] lizafloyd commented on #37
@aryzle A couple of them I think! @elgreg is currently our speaker coordinator so I'll pass you over to him. But if you're free, I can't wait! 😄

[2018-04-18 02:57] #12 closed

[2018-04-18 22:56] aryzle commented on #37
@lizafloyd so I guess first things to go would be the history lesson (would be super short), then the ending part about HMR and rewinding state... but I think it can all fit within 30-45 mins, how much time do talks have these days?

If you give me a slot in May I could do that :) otherwise would have to wait til July

[2018-04-20 19:14] elgreg commented on #37
@aryzle 45 mins to an hour is 👍  - If May 10th works, we'll book it!

[2018-04-24 13:51] aryzle commented on #37
@elgreg May 10th should be good 😁 Excited!!

[2018-05-02 19:42] aryzle commented on #37
@elgreg @lizafloyd I'm gonna need some sort of confirmation to start prepping

[2018-05-02 20:23] lizafloyd commented on #37
Confirmed @aryzle ! Please feel free to prep away. We’ll be announcing for the 10th in the next day or so.

[2018-05-03 20:32] aryzle commented on #37
@lizafloyd @elgreg just an update on me, I work at Discovery now and talk should prob be named "Redux" but it's ok if you already printed the shirts 😉

Also, does anyone record these? jw

[2018-05-09 13:09] jorgeso commented on #45
I just suggested this same talk to Gregg. I've been using Typescript for over a year now, and have fallen in love with the language. Let me know if you want to collaborate or need any help with organizing this.

This is a good podcast that gave me the idea on presenting on the subject:

https://softwareengineeringdaily.com/2017/08/11/typescript-at-slack-with-felix-rieseberg/

[2018-05-09 13:41] elgreg commented on #37
@aryzle Just confirming that you're all set for tomorrow evening! I've updated the meetup.com page to change your work to Discovery. Shirts are already printed in so many sizes!

We should have every adapter you might need. Hookup is HDMI. We'll all arrive a little early (6:30ish) to set up up and talk will probably start at around 7:15

[2018-05-09 14:41] aryzle commented on #37
@elgreg cool beans thank you

[2018-05-09 14:45] kkrivera commented on #45
I am actually in the process of writing this presentation and will be
presenting this at the Vue.js meetup next week 4/16 at the Bloombery BNA
building at 6:30pm. Feel free to come by and let me know if you have any
further suggestions for a follow up talk/collaboration as well.

On Wed, May 9, 2018 at 9:09 AM jorgeso <notifications@github.com> wrote:

[2018-05-11 16:46] #37 closed

[2018-05-14 21:47] fillerwriter commented on #44
FWIW, I also think this is a really cool idea and would be super useful for folks to see. It looks like it's been awhile since anyone has commented on this, is this still a viable presentation?

[2018-05-14 21:56] shannonturner commented on #44
Thanks @fillerwriter!

I've given this talk a few times now at a few meetups including Refresh DC and the Joy of Programming.

It's been well-received, clocks in at roughly 35-40 minutes, and I'd be happy to present this at DCJS as well :)

[2018-05-16 21:49] jakerella commented on #44
Sorry this lagged @shannonturner! Right now @elgreg is wrangling speakers, but I think we're still looking for July... I'll let him check in though.

[2018-05-17 01:41] elgreg commented on #49
I think this would be a great talk for July or August if you're available!

[2018-05-17 01:41] elgreg commented on #46
Great presentation! Thanks @mandy6720

[2018-05-17 01:41] #46 closed

[2018-05-17 01:45] elgreg commented on #44
We actually have June open if you're available @shannonturner

[2018-05-17 01:47] elgreg commented on #44
This would be on June 14th - I think the checklist template had June 7th. Let us know!

[2018-05-17 02:33] elgreg opened #50 "WANTED: PWA and Serviceworkers"

[2018-05-17 10:57] mandy6720 commented on #46
Thanks @elgreg - it was a lot of fun :)

[2018-05-17 12:10] kkrivera commented on #45
@lizafloyd here is the link to my slides. If you guys are still interested, I just presented these slides to a VueJS meetup last night. https://bit.ly/2wUTiVA

[2018-05-18 00:33] elgreg commented on #48
Sorry for not getting back to you sooner @Brantron! Any chance you'd be available to give this talk on Jun 14th?

[2018-05-20 22:39] easilyBaffled opened #51 "Playing with Proxies"
Your Name: Danny Michaelis

Your twitter handle: @easilyBaffled - nothing interesting there
A few words about yourself: I am a Javascript developer with Lab49. I primarly stick with the front-end, finding ways to bend the language to my whims. This often involves using the metaprograming api's to manipulate code in ways people would think of.

Talk title: You wouldn't know a Proxy if it smacked yo

[2018-05-21 01:09] sjones6 commented on #49
Thanks! Let me confirm in a day or two. August is looking like the better option.

[2018-05-22 15:15] elgreg commented on #44
@shannonturner Any thoughts on June 14th? If you're available I'd love to get the announcement out.

[2018-05-23 02:03] shannonturner commented on #44
Hey thanks for your patience -- just got back from vacation.

I can't do the June 14th but I could do Thursday, July 12th.

[2018-05-23 02:04] elgreg commented on #44
Great! Let's pencil in the 12th!

[2018-05-23 13:44] elgreg commented on #51
@easilyBaffled Any interest in giving this session along with a couple other lightning talks (15 mins each) on Jun 14th?

[2018-05-23 13:45] elgreg commented on #48
@Brantron We're putting together a short-talks session - think you can give the 15-20 minute version of this talk on Jun 14th?

[2018-05-23 14:00] Brantron commented on #48
Yes!

On Wed, May 23, 2018 at 9:45 AM, Greg Lavallee <notifications@github.com>
wrote:

[2018-05-23 14:27] elgreg commented on #48
Great!

[2018-05-23 19:13] easilyBaffled commented on #51
Absolutely

[2018-05-24 17:25] elgreg commented on #51
Awesome! We're sending out the noticed today!

[2018-06-08 02:16] jonathana opened #52 "Web Accessibility: Less Stick, More Carrot"
Your Name: Jonathan Altman
Your twitter handle: @async_io
A few words about yourself: Whole-system engineer, software engineer who isn't good at generating graphically pleasing front-ends from scratch

Talk title: Web Accessibility: Less Stick, More Carrot

Talk abstract:
Typically, 508 compliance is done by hiring consultants to either explain everything we did wrong with our front end or to eith

[2018-06-13 12:55] elgreg commented on #51
@easilyBaffled We're all set for tomorrow night! Looking forward to your talk!

[2018-06-13 12:55] elgreg commented on #48
@Brantron We're all set for tomorrow night! Looking forward to your talk!

[2018-06-15 14:29] elgreg commented on #45
This looks great! Does September work for you? Any interest in working with @jorgeso to maybe have a night of typescript?

[2018-06-15 14:30] elgreg commented on #44
@shannonturner We're going to draft the meetup announcement today for next month! Looking forward to this. Can you shoot me an email so we can do logistics off of github? I'm my firstnamelastname at gmail.

[2018-06-15 22:07] kkrivera commented on #45
September would be great! And yes, I would love to to work with @jorgeso
On Fri, Jun 15, 2018 at 10:29 AM Greg Lavallee <notifications@github.com>
wrote:

[2018-06-25 17:33] #41 closed

[2018-07-01 16:05] nvioli opened #53 "Real time aural display of website user data"
Your Name: Nick Violi
Your twitter handle: nvioli
A few words about yourself: I make websites. I'm the guy you don't want to give the aux cord to at your dance party. So of course I wanted to learn to make music on the web.

Talk title: Auralization: Ambient aural display of real-time data

Talk abstract: I've built a proof-of-concept tool to connect Google Analytics to the web audio API to create

[2018-07-03 17:04] elgreg commented on #51
@easilyBaffled Are you good for me to reschedule your talk for August 9th? Also, want to shoot me your email address? I'm my name at gmail.com

[2018-07-08 17:36] easilyBaffled commented on #51
@elgreg hey, I sent you an email, but just in case...
I am going to be missing the August meetup, I will be on a plane to Disney World. Sorry.
But I don't want to leave you with nothing. One of my coworkers, @samuelneff, has an open proposal for DCJS https://github.com/dcjs/talks/issues/43. If you would like, he said that he could probably cut the talk down to 15 minutes.
I hope that helps.

[2018-07-08 17:49] jakerella commented on #51
Thanks @easilyBaffled! We'll check in with him.

[2018-07-08 17:50] jakerella commented on #43
Hey folks! @easilyBaffled mentioned you in his post, suggesting you might have a 10-15 minute version of this for our August lightning talks?

[2018-07-08 18:04] samuelneff commented on #43
Sure, I'd be happy to do that.

[2018-07-08 18:51] jakerella commented on #43
Great! If you have any tweaks to the description can you make those? We'll update the site with the info.

[2018-07-08 18:56] samuelneff commented on #43
@jakerella I updated the abstract above. Please let me know if you need me to cut it down to something smaller.

[2018-07-08 21:18] #22 closed

[2018-07-08 21:21] jakerella commented on #33
Closing for inactivity... :(

@EvanSanderson If you're still up for it, we're doing lightning talks in April! (5-15 minutes) Or we can do another month if you're still interested.

[2018-07-08 21:21] #33 closed

[2018-07-08 21:28] jakerella commented on #39
Hey there @freestylebit! Did you ever give this one? I don't recall seeing it... but I also missed a couple meetups for work travel. If not, would you want to do it in August for our lightning talk event?

[2018-07-08 21:29] jakerella commented on #52
Hi Jonathan! We had an accessibility talk not too long ago, so we might hold off on this one for a bit so people aren't seeing too much of the same topic. That said, this is important and I think we should work it into the schedule again!

[2018-07-08 21:30] jakerella commented on #53
That sounds pretty awesome! Unfortunately we don't have a slot open before September at DCJS. :(

I still hope to see it though!

[2018-07-08 23:38] nvioli commented on #53
Just to make sure, you're saying you're booked for September as well? If the calendar in the issue template is right, that 9/13 would be perfect.

[2018-07-09 12:11] jakerella commented on #53
We don't have September booked for sure, but I asked someone recently if they wanted it... let me track that one down and I'll let you know for sure.

[2018-07-10 03:28] freestylebit commented on #39
I don't think I did.  I can review what I have and make updates to it before August 9 (if that's the official date).  As far as I know, I can drop by that night!

[2018-07-11 00:02] jakerella commented on #39
It is the official date! Glad to hear you're up for it.

[2018-07-12 18:41] jackkoppa commented on #50
Hi @elgreg. I'd be happy to give a lightning talk-length presentation on my PWA [cityaq](https://github.com/jackkoppa/cityaq). Some of my service worker lessons have been Angular-specific, but a lot of the ups & downs have just been general PWA learning. I actually gave a [similar talk in Milwaukee](https://youtu.be/jIWHCbtN2NM?t=14s); the project has evolved since that point. I'll submit for the

[2018-07-12 18:58] jackkoppa opened #54 "PWAs & Service Workers: Lessons from an Angular air quality app"
Your Name: Jack Koppa
Your twitter handle: [jackpkoppa](https://twitter.com/jackpkoppa)
A few words about yourself: I make things with a purpose. Love front-end development (currently modern Angular apps), clean technology, Chinese, & hiking/backpacking. Just moved to DC, after living most recently in Milwaukee & Shanghai.

Talk title: PWAs & Service Workers: Lessons from an Angular air quality ap

[2018-07-12 18:59] jackkoppa commented on #50
(submitted proposed talk for the August 9th meetup [here](https://github.com/dcjs/talks/issues/54))

[2018-07-12 19:11] elgreg commented on #50
Awesome!

On Thu, Jul 12, 2018 at 2:59 PM Jack Koppa <notifications@github.com> wrote:

[2018-07-18 02:00] jakerella commented on #54
Thanks Jack! We'd love to see this at the Aug 9 lightning talks meetup. Let me know if you're good for that date!

[2018-07-18 02:01] #50 closed

[2018-07-18 12:42] jackkoppa commented on #54
Yup, count me in for the 9th. Thanks!

[2018-07-19 19:46] #44 closed

[2018-07-29 22:09] jakerella commented on #42
Hi Aaron! So sorry for the long delay here, I think we just got caught up in some other talks, and then we had the one event at NPR (trying to spread the love).

Would you be available to do this talk either September 13 or October 11?

[2018-07-29 22:10] jakerella commented on #29
ping... never heard a response to my comment/thought. In any case, is this still a talk you're interested in delivering?

[2018-07-29 22:18] jakerella commented on #48
Hey @Brantron, heard about the new gig... best of luck! Will you still be in the DC area? Maybe we can have you at DCJS another time.

[2018-07-29 22:24] jakerella commented on #45
Hey folks! Are you still on for September?

@jorgeso and @kkrivera let me know if so, it would be September 13. Let us know if this is a joint effort, or if you each have a 30 or so min talk and we can split the night. Thanks!

[2018-07-29 22:26] jakerella commented on #49
Hey @sjones6, not sure if you saw but we rescheduled our lightning talks for August (which got cancelled due to a medical emergency). We have a potential for September, and possibly October (still sussing it out), but November is wide open, thoughts?

[2018-07-29 22:27] jakerella commented on #53
Hey @nvioli, Greg had already given September to another talk... And we may have October as well. I think we could look at November, but that's up in the air and a bit far. Also, you have another open talk submission... not sure which you'd be more up for.

[2018-07-31 13:52] johnjones4 opened #55 "Case Foundation Lightning Talk"
Your Name: John Jones
Your twitter handle: johnjones4
A few words about yourself: John Jones is the Vice President of Interactive Strategies at the Case Foundation. John leads technical strategy, interactive campaign development and the digital execution for the Foundation’s programs and movements. He has a passion for technology and finding ways for it to both serve and lead the Foundation’s effo

[2018-07-31 13:57] nvioli commented on #53
ok. Feel free to keep this one open to fill a hole in the schedule when it comes up.

[2018-07-31 13:58] nvioli commented on #29
This one didn't really come together and I'm more interested in https://github.com/dcjs/talks/issues/53 right now.

[2018-07-31 13:58] #29 closed

[2018-08-01 01:32] jakerella commented on #29
:+1:

[2018-08-01 01:32] jakerella commented on #53
:+1:

[2018-08-01 01:34] jakerella commented on #55
Thanks John! Do you plan to attend the [August 9 meetup](https://www.meetup.com/DC-JavaScript/events/252379950/) where we are doing ALL lightning talks, or would you like to have this one considered separately? I think walking through a small OSS Node/React app is good, even better if you wan talk about the challenges faced and overcome!

[2018-08-02 13:14] tfesenko opened #56 "Describing data in APIs with JSON Schema"
Your Name: Tanya Fesenko

Your Twitter Handle: tanya_fesenko

A few words about yourself: Lead software engineer with a proven track record of bringing products from concept to implementation. Background including working in four countries with people from almost all continents in corporate, semi-public and start-up environments. Driven, thorough, and passionate about technology.

Talk title: Desc

[2018-08-04 11:39] johnjones4 commented on #55
Hey Jordan,

I'd be happy to be part of the lightning talks, or do a separate talk where
I can focus more on process and outcome if you feel like that would work.
Either works for me!

JJ

On Tue, Jul 31, 2018 at 9:34 PM, Jordan Kasper <notifications@github.com>
wrote:

--

John E. Jones IV
johnjones4@gmail.com
(570) 640-8746
http://www.linkedin.com/in/johnjones4
http://twitter.com/#!/johnjones4

[2018-08-05 16:41] jakerella commented on #55
Hmm, well, we do have a number of talks liked up for Aug 9. I'm not sure, so I think I'll have to punt it back to you! Feel free to show up n Aug 9 with a short version, and if not, we can revisit for another time.

[2018-08-06 13:28] johnjones4 commented on #55
Got it! Well then it'd be great to find time in the schedule for a separate
talk. I'm happy to wait for the right time over the next few weeks or into
the fall for that.

On Sun, Aug 5, 2018 at 12:41 PM, Jordan Kasper <notifications@github.com>
wrote:

--

John E. Jones IV
johnjones4@gmail.com
(570) 640-8746
http://www.linkedin.com/in/johnjones4
http://twitter.com/#!/johnjones4

[2018-08-06 15:34] bushidocodes opened #57 "[Lightning Talk] Operation Code DC: Helping the military community code the future the in nation's capital."
Your Name: Sean McBride
Your twitter handle: bushidocodes
A few words about yourself: I'm an Army veteran currently working as a fullstack software developer at Decipher Tech Studios. In my spare time, I volunteer with Operation Code to mentor veterans and military spouses seeking to transition into software development.

Talk title: Operation Code DC: Helping the military community code the futur

[2018-08-06 19:56] froi opened #58 "Cleaning up Code with Async/Await"
Your Name: Froilan Irizarry
Your twitter handle: skfroi
A few words about yourself: I'm the backend engineer at Code.gov. My career spans both the private and government sectors. Before Code.gov I was part of the USDS working with CMS to bring the QPP program to life.

Talk title: Cleaning up Code with Async/Await

Talk abstract:
Inheriting a project can sometimes be a hassle. Multiple iterations

[2018-08-10 16:31] adunkman opened #59 "Kick Those Scripts to the Sandbox"
Your Name: Andrew Dunkman
Your twitter handle: @adunkman
A few words about yourself: Hi friends! I’ve been hacking on Twitter’s embed script recently, and I’m thinking about presenting a talk about it. It might not come together, but I’ll give it a shot!

### Kick Those Scripts to the Sandbox

Do you want Tweets or your latest Instagram food picture to display nicely in your site? Just load this t

[2018-08-11 16:48] corsoa opened #60 "Building a process finder in Node.js"
Your Name: Aaron Corso
Your twitter handle: @corsoa
A few words about yourself: I’m a software engineer focused on building SaaS products for the higher education sector. I started building websites because I wanted to post a picture of my cat and never got tired of trying to make a better way to share cat pictures.

Talk title: Building a process finder in Node.js

Talk abstract:
This talk will e

[2018-08-11 18:14] jakerella commented on #56
Hey Tanya! I'm not sure if my reply to meetup made it to you or not, I was on vacation and without a laptop. Did you come to the meetup last week? If not, we can try to work this in before another talk later in the year. Let me know!

[2018-08-11 18:15] #39 closed

[2018-08-11 18:15] #43 closed

[2018-08-11 18:15] #54 closed

[2018-08-11 18:17] jakerella commented on #45
ping... is this mic on?

I'm going to start asking some other folks about September 13, so let me know soon!

[2018-08-11 18:17] jakerella commented on #49
ping!

[2018-08-11 18:19] jakerella commented on #58
Thanks Froi!

[2018-08-11 18:22] jakerella commented on #59
This sounds great! I'm trying to lock down a few months of speakers and have reached out to a number of folks. How about we tentatively jot you down for December, and if I strike out for October I'll let you know?

[2018-08-11 18:25] #57 closed

[2018-08-11 18:25] jakerella commented on #57
Thanks Sean!

[2018-08-11 18:45] kkrivera commented on #45
I am so sorry. I totally thought that I had responded to this email. My
apologies. Yes, I am available for Sep 13 to provide an Intro to Typescript
talk. I already have my slides ready to go. Please let me know further
details. If necessary, I can easily fill 45minutes, but i can try to keep
it down to 30 minutes.

Again, sorry

Kris

On Sat, Aug 11, 2018 at 2:17 PM Jordan Kasper <notifications@gi

[2018-08-11 21:54] jorgeso commented on #45
Sorry about this. Recently changed jobs and I forgot to update my email on Github. Looks like Kris already has a presentation ready to go and can easily go the hour so I would say just go for it. If you really want to split it or make it a joint presentation, I’m open to it as well. We would just have to plan it. So let me know.

[2018-08-12 14:03] jakerella commented on #45
Thanks fellas! No worries on the delay. We have you (Kris) down for Sep 13, but @jorgeso, if you have some nuance you wanted to talk about that's not in Kris' presentation we could do a split show. In that case, I think we keep Kris' to 30 min and give Jorge 15. Otherwise we'll give Kris a full 45.

Let me know! We'll get the meetup event posted soon.

[2018-08-13 00:17] sjones6 commented on #49
@jakerella : Thanks for ping! What's the date for October? I've got some travel in October, but could the 11th work on your end?. November is also looking pretty open for me.

[2018-08-13 00:42] jakerella commented on #49
Yeah, October is the 11th... but I have someone tentatively set for that date. November 8 is open!

[2018-08-13 00:51] sjones6 commented on #49
ok, sign me up for Nov 8 then. If October 11th falls through, I could potentially move back with enough notice!

[2018-08-13 13:35] adunkman commented on #59
Sounds good @jakerella! I can bump to next year too — I’m not picky. 😄

[2018-08-13 15:35] kkrivera commented on #45
Here is the link for my slides. Let me know if you have any questions
https://drive.google.com/open?id=107Y2EP2p_f8_3QEnYFRTfwblKPcXC5BTPSzzqYSvDFE

On Sun, Aug 12, 2018 at 10:03 AM Jordan Kasper <notifications@github.com>
wrote:

[2018-08-13 18:56] tfesenko commented on #56
Hi @jakerella, I hoped you enjoyed your vacation!

I didn't present last week.  And I would be happy to present before another talk -- meetups in September or October are the most convenient for me.

[2018-08-14 12:14] jakerella commented on #45
Awesome, thanks!

[2018-08-14 12:15] jakerella commented on #49
Great! You've got November 8.

[2018-08-14 12:16] jakerella commented on #56
Sounds good... lemme think about which one would be best, right now I'm leaning toward September 13.

[2018-08-14 12:17] jakerella commented on #59
Okay, I've got you down for December 2020. ;)

KIDDING! We'll figure it out.

[2018-08-14 14:12] jorgeso commented on #45
@kkrivera deck looks good. Hard to cover everything about TypeScript in one 45-minute presentation, but you’ve covered A great deal. If you have any live examples, it would be cool to show them some of the tools you can use with VS code - like go to definition, find all references, rename symbol, etc.

Either way, I think you have it covered, so I’ll just step aside, but I’ll try to make it and se

[2018-08-15 11:37] sjones6 commented on #49
Sweet! Confirmed.

[2018-09-06 15:13] kkrivera commented on #45
Hi all,

I wanted to know what time and where on the 13th I will be presenting

Thanks,
Kris

On Tue, Aug 14, 2018 at 10:12 AM jorgeso <notifications@github.com> wrote:

[2018-09-08 11:59] jakerella commented on #45
Hey! The meetup is slated for 6:30pm, but we usually have a little welcoming bit at first. You should plan to start around 7pm. (But get there early if you want empanadas, they run out!)

[2018-09-08 14:20] kkrivera commented on #45
Awesome. Thank you so much. I will plan to be there at 6:30
On Sat, Sep 8, 2018 at 7:59 AM Jordan Kasper <notifications@github.com>
wrote:

[2018-09-10 19:25] jakerella commented on #49
Hi! Soooo, my potential October 11 speaker can't do it, but could do November. Can you switch to October?

[2018-09-10 23:59] sjones6 commented on #49
Ay, sorry! I can't anymore :(

[2018-09-16 18:44] jakerella commented on #49
No worries, thanks! We'll keep you on Nov 8

[2018-09-16 18:47] #45 closed

[2018-09-16 18:48] jakerella commented on #42
ping? Any chance you're free to do this talk Oct 11?

[2018-09-16 19:01] jakerella commented on #53
Hey Nick! We lost our October speaker... would you be free to do this talk Oct 11?

[2018-09-17 00:47] nvioli commented on #53
Hey Jordan, yep I can do Oct 11. I'll need a sound system if the room doesn't have one.

Only other thing is that the presentation in its current form is only 15 minutes, and pretty light on code. If there's something else short you want to pair it with that'd be fine; otherwise I can do something a little less formal for 15-20 after that. Right now I'm thinking some live coding in tone.js could b

[2018-09-17 19:22] aberkie commented on #42
Hey @jakerella - sure, October 11 works. Do you have the time and place details?

[2018-09-18 01:32] jakerella commented on #42
Great! We're working out the location. We held it at Chief last week and we're hoping to do so again, but they may have a conflict. I'll jot you down in the schedule and get the meetup event out soon!

Thanks a ton!!

[2018-09-18 01:33] jakerella commented on #53
Hmm, ok, we might keep this one on the hook then, harder to get multiple speakers on shorter notice. Maybe January? For now I got Aaron with #42 for October.

[2018-10-06 20:29] jakerella commented on #42
Hi @aberkie! Are you ready for this week? Anything you need or questions?

See you Thursday at the Chief offices!

[2018-10-09 21:55] aberkie commented on #42
Hey @jakerella - yep, all set! Is there an HDMI hookup with audio?

[2018-10-12 16:01] dbarbour opened #61 "NativeScript"
Your Name: Dwight Barbour

I'm a web-database developer and IT consultant.  LatelyI dabble in mobile tech stacks, solve business issues, and coach new IT consultants.

For over 15 years I have design and teaching experience for building a skilled IT workforce.  Currently building curriculum for a school based on predominantly JavaScript/ECMAscript as the language of choice.

Talk title: "Intro to

[2018-10-13 14:42] jakerella commented on #42
Thank you sir!

[2018-10-13 14:42] #42 closed

[2018-10-14 12:58] jakerella commented on #49
Hi @sjones6! Are you still good for Nov 8? We'd like to get the meetup event posted this week.

[2018-10-15 10:19] sjones6 commented on #49
Still works for me! Thanks for confirming.

[2018-10-23 10:13] sjones6 commented on #49
Hey @jakerella I don't think I saw the announcement go out—just pinging here to make sure you don't need something from me!

[2018-10-23 20:31] lizafloyd commented on #49
@sjones6 Thanks for double checking! We are still on and looking forward to your talk. The announcement just went out 👍

[2018-10-24 01:40] sjones6 commented on #49
Right on! Thanks!

[2018-10-28 19:39] jackkoppa opened #62 "Shared Component Libraries"
**Your Name:** Jack Koppa
**Your twitter handle:** [@jackpkoppa](https://twitter.com/jackpkoppa)
**A few words about yourself:** Jack Koppa is a front-end developer, focused on modern web apps & best practices for maintainable, collaborative code. He especially enjoys Vue.js & TypeScript in his work @ POLITICO; passionate about public policy, clean technology, hiking/backpacking, and Chinese.

**T

[2018-11-05 01:23] jakerella commented on #49
Hi there! Just making sure you're good to go for this week @sjones6.

[2018-11-05 01:25] jakerella commented on #59
Hola! Any chance you're up for doing this talk January 10th?

[2018-11-05 01:36] sjones6 commented on #49
Yepper! See you on Thursday!

I've got slides and code so I'll bring a dongle for my mac machine to connect via HDMI. Should I bring anything else?

[2018-11-05 23:38] jakerella commented on #49
I think that should be it!

[2018-11-05 23:56] sjones6 commented on #49
Right on. See you Thursday!

[2018-11-06 15:14] adunkman commented on #59
Howdy! Unfortunately I can’t make that date — I’ll be at [Codemash](http://www.codemash.org/).

Feb 14 is Valentine’s Day… so I’ll have to get special approval if that’s the date of the next one. 😉

[2018-11-06 17:44] oliikit opened #64 "Linting your XSS troubles away"
**Your Name:** Olivia Brundage
**Your twitter handle:** [@oliikit](https://twitter.com/oliikit/)
**A few words about yourself:** I'm a Security Engineer at Mapbox where I secure and maintain availability on our cloud infrastructure. I write mostly JavaScript these days, a big videogame nerd, and have two adorable cats. 🤓 (And of course, Star Trek > Star Wars. 💥)

**Talk title:** Linting your XSS t

[2018-11-07 13:03] jakerella commented on #59
:) No worries, thanks!

[2018-11-07 13:05] jakerella commented on #53
Hey Nick! Any chance you'd be free to do this presentation January 10? Is it developing into a longer talk, or are you keeping it at 15-20 minutes?

[2018-11-07 13:06] jakerella commented on #64
Thanks @oliikit! We'll get the meetup event posted for December 13 up after this week's meetup. Looking forward to it!

[2018-11-07 13:50] nvioli commented on #53
Sure, 1/10 works fine, and I'm sure I'll be able to fill a full night. Does
45 minutes work best?

On Wed, Nov 7, 2018, 8:05 AM Jordan Kasper <notifications@github.com wrote:

[2018-11-08 14:44] adunkman commented on #64
This talk looks really cool. 🙂

[2018-11-10 14:14] jakerella commented on #53
Yep, that would be awesome! Thanks for being our first 2019 speaker. ;)

[2018-11-10 14:14] #49 closed

[2018-11-19 18:01] freestylebit opened #65 "Effective Javascript Testing"
**Your Name:** Peter Cho
**Your twitter handle:** freestylebit
**A few words about yourself:** Prefers Ledo's over Papa John's, can sprint a minute sprint in 60 seconds, does not agree that hot dogs are sandwiches.

**Talk title:** Effective Javascript Testing

**Talk abstract:**
A persuasive dialogue on effective testing methodologies and things to look out for when building out your suite.  Talk

[2018-11-19 23:54] easilyBaffled opened #66 "⚡️console.ident - your new best debugging friend⚡️"
Your Name: Danny Michaelis
Your twitter handle: @easilyBaffled
A few words about yourself: A hobbyist game developer trying to bend JS

Talk title: ⚡️console.ident - your new best debugging friend⚡️

Talk abstract:
A cleaner logging function that takes advantage of expressive Javascript.
[code]
*And Possible trojan horse for a longer talk on ASTs*

Expected length: 5-8

Available months: All of th

[2018-12-09 21:38] jakerella commented on #64
Hey @oliikit! Are you set for Thursday? I won't actually be in town sadly, but @elgreg, @asabaylus, and @lizafloyd will be there (or, at least 2 of them ;) ).

Also, please be sure to register for the event (and spread the word)!
https://www.meetup.com/DC-JavaScript/events/256721171/

[2018-12-11 01:06] asabaylus commented on #64
If you need anything just ping us.

Asa

Sent from my iPad

[2018-12-11 02:57] oliikit commented on #64
Thank you, @asabaylus and @jakerella! I should be all good to go. 🤗

[2018-12-14 16:35] robbiethegeek commented on #64
Was a super successful talk

[2018-12-22 17:47] jakerella commented on #52
Hi Jonathan! Sorry it's taken so long, but we're hoping you'd be interested in giving this talk in February or March?

[2018-12-22 17:51] jakerella commented on #56
Hey Tanya! So for the long silence. Any chance you'd be up for doing this talk in February or March? I'm thinking that I'll try to schedule two shorter talks together. So we'd give you a 20-ish minute slot, and someone else the same... thoughts?

Alternatively, if you think this talk could be expanded into more like 40 minutes (with some examples, case studies/use cases/etc) then we'd love to have

[2018-12-22 17:52] jakerella commented on #59
Hey! Sooo... March or April?

[2018-12-22 17:53] jakerella commented on #66
Thanks Danny! I just sent a message on your other submission as well. We'll find a good month in the spring for lightning talks and keep this one in the hopper. Alternatively, I might find an opening for two small talks on the same night (but not a full lightning talk night).

[2018-12-22 17:55] jakerella commented on #65
Thanks Peter! Trying to figure out early 2019 now with previous submissions. I think we could get to this one early to mid Spring... but if everyone bails on me for Feb/Mar/Apr then I might ping you. ;)

[2018-12-22 18:15] freestylebit commented on #65
No problem.  I figured the backlog is large as it is, but let me know a few weeks in advance so I can finalize the slides.

[2018-12-23 00:17] jonathana commented on #52
What would the date for either of those be?

[2018-12-23 20:50] jordangov commented on #52
Feb 14 and Mar 14

[2018-12-25 18:49] jakerella commented on #52
Hi! It would be February 14 or March 14... or we can do later, let me know!

[2019-01-01 17:55] jakerella commented on #61
Hi @dbarbour! Would you be able to do this talk in February? It would be February 14.

[2019-01-01 17:56] jakerella commented on #59
ping! Any chance you're available March 14 or April 11?

[2019-01-01 18:06] dbarbour commented on #61
Regarding the NativeScript talk
(https://github.com/dcjs/talks/issues/61), February sounds great.
Do you have a location?  About how many people do you expect?   I might
have a location near 20th and L that can be used.
Thanks, Jordan and Happy New Year!

Dwight.

On Tue, Jan 1, 2019, at 12:55 PM, Jordan Kasper wrote:

Links:

  1. https://github.com/dbarbour
  2. https://github.com/dcjs/talks/iss

[2019-01-01 18:25] jakerella commented on #61
Yeah, we have a location. We're currently hosted at the CHIEF offices just off Dupont Circle. Our attendance ranges from 30 to 60, depending on the month. My guess is that with Feb 14 being Valentine's Day it'll be a lighter crowd. We like to keep our talks under an hour to keep people's attention. It would be great if you could update the talk abstract to be a bit more narrative, in paragraph for

[2019-01-03 16:00] internette opened #67 "NPM Scripts as a build process"
**Your Name:**  [Antoinette Janus](https://acjanus.co)
**Your twitter handle:** [@twaffles](https://twitter.com/twaffles)
**A few words about yourself:** Runs CodePenDC, avid coffee consumer, and fried chicken over everything minus dogs.

**Talk title:** NPM Scripts as a build tool

**Talk abstract:**
Webpack is great, but learning is a time intensive process. The more intensive development become

[2019-01-04 15:15] adunkman commented on #59
Howdy! Was out exploring Austin and New Orleans. 😄

I think April 11th works — March 14 is my anniversary (π day). Confirming with work (I’m not sure what I have to do formally now that I’m a govvie) before formally accepting, but I don’t imagine anything will come up.

[2019-01-04 17:09] adunkman commented on #59
Confirmed! April 11th works for me.

[2019-01-11 01:51] robbiethegeek commented on #53
Great job @nvioli

[2019-01-11 01:51] #53 closed

[2019-01-18 16:19] adunkman opened #68 "Participate in joint DC Tech speaking repo?"
It’d be cool to participate in this: https://github.com/dctech/speaking.

It’s a new thing, will be [publicized on Monday, Jan 21](https://github.com/dctech/speaking/issues/4).

It wouldn’t necessarily replace this repo, but it’d require the organizers here to watch that repo to see if talks came up that y’all’d be interested in giving.

Thumbs/comments/thoughts?

[2019-01-21 01:29] jakerella commented on #59
w00t! Thanks, we're doing meetup announcements shortly after the previous month's meetup, so you won't see it live until after March 14.

[2019-01-21 01:32] jakerella commented on #67
Sounds great! We have March 14 available if you're interested?

[2019-01-21 01:32] jakerella commented on #68
I'll get a PR out shortly!

[2019-01-21 01:49] jakerella commented on #68
https://github.com/dctech/speaking/pull/5

[2019-01-21 01:49] #68 closed

[2019-01-21 01:55] jakerella commented on #61
Hi Dwight! The meetup event for February is live. Don't forget to RSVP! We'll check in again once it gets closer, but let me know if you have any questions!

https://www.meetup.com/DC-JavaScript/events/258254136/

[2019-01-22 15:35] kkemple opened #69 "Up and Running with AWS Amplify"
**Your Name:** Kurtis Kemple
**Your twitter handle:** `@kurtiskemple`
**A few words about yourself:** I'm a senior developer advocate with AWS. I've been a fullstack dev for a few years now. I love to meet new folks and recently moved to VA Beach. Figured I would get involved in the DC tech community. Star Wars > Star Trek (but not by much, like them both). Love to longboard and hate winter.

**Ta

[2019-01-26 16:48] meljameson commented on #18
Did we get a web sockets talk yet or is this still up for grabs?

[2019-01-26 20:32] elgreg commented on #18
100% still up for grabs!

On Sat, Jan 26, 2019 at 11:48 AM Mel <notifications@github.com> wrote:

[2019-01-30 14:56] internette commented on #67
@jakerella March 14 is perfect!

[2019-02-02 12:52] kkemple commented on #69
Is there anything else I need to do here?

[2019-02-10 15:23] jakerella commented on #69
Hi @kkemple! Sorry for the delay, speaker wrangling is my job, but I've been traveling a ton lately. I think that toolchain looks really interesting, but I have to say that the talk submission looks like a product marketing talk (even if it is all demo and hands-on). We tend to shy away from talks that simply promote a particular product. I'm open to suggestions on how to alter the talk to make it

[2019-02-10 15:25] jakerella commented on #61
Hi Dwight! The meetup is coming up this Thursday! Is there anything you need to be ready?

Please be sure to RSVP on meetup.com!!
https://www.meetup.com/DC-JavaScript/events/258254136/

[2019-02-11 14:45] kkemple commented on #69
Yeah, that's perfectly fine with me. I have a talk on Improving UX with AI I could give, it uses Amplify but it's not the focus of the talk. The talk is really about how to design/developer with AI in mind.

[2019-02-13 15:56] dbarbour commented on #61
My apologies for the late response.  I'll need internet and a way to
project slides.  Nothing out of the ordinary.  :)
Thank you!

--
  Dwight H. Barbour
  Database, Web, & Mobile Engineer
  Consultant and Instructor

On Sun, Feb 10, 2019, at 10:25 AM, Jordan Kasper wrote:

Links:

  1. https://github.com/dcjs/talks/issues/61#issuecomment-462141668
  2. https://github.com/notifications/unsubscribe

[2019-02-15 15:25] tommymarshall opened #70 "React Hooks"
**Name:** Tommy Marshall
**Twitter handle:** [@tommyjmarshall](https://twitter.com/tommyjmarshall)
**A few words about myself:** Northern Virginia native, GMU Economics grad, loves building things on the web. Working at Medallia.
**Website:** [tommyjm.com](http://tommyjm.com)

## Talk title
Building Custom React Hooks

## Talk abstract:
Hooks were announced at React Conf and caused a bit of a buzz

[2019-02-15 22:04] jakerella commented on #61
Hey Dwight! Are you slides posted anywhere that we can link to?

[2019-02-19 18:19] lizafloyd commented on #67
@internette Thanks so much for speaking! You are scheduled and our event is posted here https://www.meetup.com/DC-JavaScript/events/258975279/ .  Looking forward to seeing you there!

[2019-03-02 16:57] meljameson commented on #18
Cool! What meetup/audience should the talk be targeting?

[2019-03-09 01:53] mcrowder65 opened #71 "React hooks"
**Your Name:** Matt Crowder
**Your twitter handle:** https://twitter.com/mcrowder65
**A few words about yourself:** Northern Virginia native, passionate javascript developer, I also enjoy the finer things in life including, but not limited to: little caesars pretzel crust pizza.

**Talk title:**  React Hooks

**Talk abstract:**
First, we'll learn about higher-order-components, and talk about how t

[2019-03-10 20:49] jakerella commented on #67
Hi again @internette! We wanted to make sure you have everything you need for this week's meetup. There will be a laptop stand, screen, projector, mic, and various connectors (although you should try to have your own video connectors just in case).

Also, I didn't see your name on the RSVP list for the meetup, can you be sure to RSVP? This is mostly for building security: https://www.meetup.com/DC

[2019-03-10 20:58] jakerella commented on #18
Our audience is all over the place, but it's fine to submit a talk that is a step above absolute beginner. That said, a talk that is _too_ advanced may be difficult for most folks to follow. I think it's important to just state what you level you assume people are at in the talk abstract.

[2019-03-10 20:59] jakerella commented on #71
Hi Matt! Not sure if you saw, but @tommymarshall submitted basically the same thing a few weeks ago. :)

We're open to a joint meetup, but we'd probably only be able to do one talk on this topic for now.

[2019-03-10 21:00] jakerella commented on #70
Thanks Tommy! We're working on the Spring lineup, we'll let you know.

[2019-03-10 21:00] #61 closed

[2019-03-11 13:25] mcrowder65 commented on #71
hey 👋 @jakerella, I'm happy to just submit another topic, stay tuned :)

[2019-03-11 19:53] tommymarshall commented on #70
@jakerella appreciate it. Cheers!

[2019-03-12 00:23] mcrowder65 opened #72 "React-testing-library"
**Your Name:** Matt Crowder
**Your twitter handle:** https://twitter.com/mcrowder65
**A few words about yourself:** Northern Virginia native, passionate javascript developer, I also enjoy the finer things in life including, but not limited to: little caesars pretzel crust pizza.

**Talk title:**  react-testing-library

**Talk abstract:**  If you had to rewrite your tests when writing a hook in you

[2019-04-03 19:24] jakerella commented on #71
Thanks! Can I close this one up?

[2019-04-03 19:25] #67 closed

[2019-04-03 19:25] mcrowder65 commented on #71
Sure go ahead, thanks

[2019-04-03 19:25] #71 closed

[2019-04-03 19:27] jakerella commented on #56
Hi Tanya, looks like you may not check GitHub too often? I'll ping you on twitter, but wondering if you'd be up for doing this short talk in May and we can line up another short talk and have a 2-talk night. Thoughts?

[2019-04-03 19:34] jakerella commented on #66
Hey Danny! Any chance you want to do this May 9? I'm thinking about getting a few small talks together for that evening.

[2019-04-03 19:34] jakerella commented on #60
Hi Aaron! Sorry for the silence, we just had a backlog of talks to get through. Any chance you want to do this on May 9 along with a few other short talks?

[2019-04-03 23:44] corsoa commented on #60
@jakerella Sure, that works for me.

[2019-04-04 22:12] easilyBaffled commented on #66
Yup, that would be great.

[2019-04-09 13:30] tfesenko commented on #56
Hi @jakerella, I just moved to Boston and won't be able to present in May because I won't be in DC.
But thank you for considering my talk!

[2019-04-09 15:26] jakerella commented on #56
Ah... sad. But ok, thank you! Good luck up there!

[2019-04-09 15:26] jakerella commented on #66
Cool, jotting you down for it.

[2019-04-09 15:26] jakerella commented on #60
Great, thanks!

[2019-04-09 15:44] jackkoppa commented on #56
Hey @jakerella - I had asked about a pretty similar topic over in @dctech

https://github.com/dctech/speaking/issues/45

Was still looking to see if someone had frontend experience with JSON Schema, but I'd be super interested in the topic regardless

[2019-04-20 18:14] jakerella commented on #59
Thanks Andy!

[2019-04-20 18:14] #59 closed

[2019-04-20 18:14] jakerella commented on #48
Closing for now. :(

[2019-04-20 18:14] #48 closed

[2019-04-20 18:15] jakerella commented on #52
Hey @jonathana! Never heard back, but maybe you're up for doing this talk June 13 or July 11?

[2019-04-20 18:16] jakerella commented on #62
Hey Jack! Would you be up for doing this talk June 13 or July 11? (I'm hitting a few people up, so I may shift around depending on who responds. ;) )

[2019-04-20 18:17] jakerella commented on #56
Cool... I'll post over there that DCJS would love to see this

[2019-04-20 18:19] jakerella commented on #65
Hey there! What do you think about July 13 or August 8?

[2019-04-21 16:37] jackkoppa commented on #62
Hey @jakerella - yup, either would work, June slightly better.

[2019-04-22 02:52] freestylebit commented on #65
July and August is relatively wide open.  For July, are we talking about July 18?

[2019-04-29 19:21] jakerella commented on #65
Oops, nope... July 11. Thoughts?

[2019-04-29 19:21] jakerella commented on #62
Great, let's plan on you speaking June 13 then!

[2019-04-30 06:18] freestylebit commented on #65
As far as I know, either dates looks good!

[2019-05-05 15:13] jakerella commented on #66
Hey Danny! Just checking to make sure you're ready for Thursday. Let me know if there is anything I can do to help!

Also, please be sure to RSVP on the meetup page!
https://www.meetup.com/DC-JavaScript/events/260787672

[2019-05-05 15:14] jakerella commented on #60
Hey Aaron! Just checking in to make sure you have everything you need for Thursday. Let me know if there is anything I can help with! And thanks for RSVPing on meetup!

[2019-05-05 15:16] jakerella commented on #65
Looks like Jack Koppa got June... so how about July 11?

[2019-05-06 17:34] easilyBaffled commented on #66
Yup, I'm ready.

[2019-05-06 17:44] tommymarshall commented on #70
Just checking in, @jakerella How are things looking this Spring?

[2019-05-13 17:35] freestylebit commented on #65
Yea that should work.  I'll start reviewing my slides again in a few weeks!

[2019-05-14 15:37] #60 closed

[2019-05-14 15:37] #66 closed

[2019-05-14 15:47] jakerella commented on #65
Nice! THANKS!!

[2019-05-14 15:48] jakerella commented on #70
Hey Tommy! Sorry for the delay, that's on me. We got booked up (which is good!). Can we do this in September? I know that's a ways off, but we're trying to have speakers lined up instead of scrambling. My August slot is still a bit tentative, so we might be able to shift to then as well.

[2019-05-17 14:46] adunkman commented on #59
Slides for reference later: https://speakerdeck.com/adunkman/kick-those-scripts-to-the-sandbox-at-dc-javascript

[2019-05-21 16:38] lstar19 opened #74 "Human Readable JavaScript"
**Your Name:** Laurie Barth
**Your twitter handle:**@laurieontech
**A few words about yourself:** Laurie is a software developer, conference speaker and frequent blogger. During normal business hours she is a consultant at Ten Mile Square. Depending on the day she can be found using any number of technologies from different languages to frameworks and other support tools. When she isn't writing co

[2019-05-31 17:17] ksteigerwald opened #75 "Hasura GraphQL Engine"
**Your Name:** Kris Steigerwald
**Your twitter handle:** ksteigerwald
**A few words about yourself:** Software Engineer that enjoys musing over Javascript, Swift and product development in general.

**Talk title:** Hasura a Realtime GraphQL Engine

**Talk abstract:**
Interested in GraphQL but don’t have the time to learn it? Hasura might be for you then. Even if you know GraphQL and are looking fo

[2019-06-18 13:54] #62 closed

[2019-06-18 13:55] jakerella commented on #74
Hey Laurie! Thanks for submitting this one. I'm going to tentatively put you down for September. As I mentioned on Twitter, I might ping you about August if that's possible.

[2019-06-18 13:57] jakerella commented on #75
Sounds neat! I think we've got talks through September right now (but people have dropped before). I think we could expand this just a bit to get to 45 minutes with an intro on what graphQL is?

[2019-06-18 13:58] laurieontech commented on #74
Sounds like a plan!

On Tue, Jun 18, 2019 at 9:55 AM Jordan Kasper <notifications@github.com>
wrote:

[2019-06-18 15:48] ksteigerwald commented on #75
I can flush this out to 45 minutes no problem. I've been working with Hasura quite a bit now so will have plenty to add to my original presentation. Also, if you need to push this to October/November, thats fine too.

[2019-06-23 14:04] jakerella commented on #65
Hey @freestylebit! Are you ready for July 11? We'll probably get the meetup event published this week, let me know if there's anything you need.

[2019-06-23 14:06] jakerella commented on #74
Hey Laurie! We chatted on Twitter about this, but just confirming that you are good to go on August 8 for this talk?

[2019-06-23 14:07] laurieontech commented on #74
Yup! Ok my calendar

-Laurie

[2019-06-24 13:41] freestylebit commented on #65
I should be ready.  I'll get the slides finalized in a week!

[2019-06-24 17:48] freestylebit commented on #65
The meetup can also be renamed to "Testing for Value", too (if it's not too late).

[2019-07-29 17:08] #65 closed

[2019-08-16 17:24] kylehill opened #76 "Tour de Bikeshare: Setting World Records with JavaScript"
**Your Name:** Kyle Hill
**Your twitter handle:** @kylehill
**A few words about yourself:** Hi! I've been a JS dev and code school instructor in DC for like, a decade. I _just_ gave this talk [at JSConf in August 2019](https://2019.jsconf.us/speakers/kyle-hill) and it went over super well! Since it's foundationally about DC, I want to give it locally too!
**Talk title:** Tour de Bikeshare: Setting

[2019-08-25 19:01] jakerella commented on #76
Sounds great! Our folks will take a look to see when we could do this.

[2019-09-02 16:27] #74 closed

[2019-10-03 19:22] lizafloyd commented on #52
Hi @jonathana ! Just wanted to reach back out and see if you were still interested in giving this talk? If so would love to get you on the schedule. Thanks so much!

[2019-10-03 19:24] lizafloyd commented on #70
Hi @tommymarshall ! I wanted to reach out to see if you're still interested in giving this talk? If so we'd love to get you on the schedule! Thanks for submitting.

[2019-10-03 19:26] lizafloyd commented on #72
Hi @mcrowder65 ! I wanted to reach out to see if you're still interested in giving this talk? If so I'd like to try to get you on the schedule! Thanks for your interest in DCJS.

[2019-10-03 19:30] lizafloyd commented on #76
Hi @kylehill ! We'd love to get you on the calendar if you're still interested in giving this talk, sounds great! What's your availability for the next couple of months? Our dates would be Oct 10, Nov 14, Dec 12 I believe. Confirming those dates now.

[2019-10-03 19:38] mcrowder65 commented on #72
Hey Liza! Thanks for reaching out! I am actually giving this talk at nationjs in December. So I don’t think I’d be interested in giving it in the near future, I think I’d prefer maybe March at the earliest next year? But I’m not sure how far booked y’all are. Thanks!

[2019-10-05 16:52] cukejianya opened #77 "Favor Composition Over Inheritance"
**Your Name:** Chinedum Ukejianya
**Your twitter handle:** @cukejianya_
**A few words about yourself:** I am an ex-middle school teacher. A wannabe avid reader. And a person who loves solving problems.

**Talk title:** Composition Over Inheritance

**Talk abstract:**
The overall talk will be about using composition instead of inheritance. However, I will probably dive into the problem with the "cl

[2019-10-07 18:55] kylehill commented on #76
Sure! November 14th actually works pretty well for me -- I'd need to request the evening off from my teaching gig, but if we can get that confirmed soon it shouldn't be a problem.

[2019-10-21 15:04] lizafloyd commented on #75
Hi @ksteigerwald ! If you're still interested in giving this talk, we'd love to get you on the schedule. What is your availability for Nov or Dec? Thanks for your interest!

[2019-10-21 15:26] lizafloyd commented on #76
@kylehill Great! We'd love to have you! I'll get started on the event posting -- could I ask you for a few sentences of bio on you? What code bootcamp you teach for, what your hobbies are in your free time, etc? Thanks so much, can't wait for your talk!

[2019-10-22 17:57] ksteigerwald commented on #75
I will be away over veterans day weekend, but free the rest of November. December I will be free until the last week.

[2019-10-22 18:57] kylehill commented on #76
Sure!

Kyle Hill has been a developer, instructor, manager, and all-around JavaScript person for, like, a decade at this point. He's currently teaching at Thinkful, an online code school. When he's not following through on various terrible ideas, Kyle likes hoppy beers, being outdoors, pub trivia, his spouse, and one of his two cats. He dislikes his other, much more garbage cat.

[2019-10-28 14:58] lizafloyd commented on #76
This is PERFECT. Thanks @kylehill , posting the event today. We'll see you between 6:30 and 7 to get you set up to present on Nov 14th! Thanks so much for volunteering, I can't wait 😄

[2019-11-21 18:15] evgenyfedorenko opened #79 "How I wrote NgRx Store in 63 lines of code"
Evgeny Fedorenko
https://twitter.com/e_fedorenko
A software engineer at Fannie Mae
How I wrote NgRx Store in 63 lines of code

My talk will be based on the article I wrote for Angular in Depth
https://blog.angularindepth.com/how-i-wrote-ngrx-store-in-63-lines-of-code-dfe925fe979b

30-45min

March, April, May June.

[2019-11-23 16:43] #76 closed

[2019-11-24 15:11] jakerella commented on #72
Hey Matt, we'll hold off on this until the Spring, but we'll hit you up then. ;)

[2019-11-24 15:12] jakerella commented on #75
Hi Kris! December is actually going to be a NationJS after party versus a normal meetup. That said, January is open, thoughts?

[2019-11-24 16:06] ksteigerwald commented on #75
Hello Jordan. December is meant for partying January will work fine. This is good as I am presenting on this topic again at work. I should have some fresh content and examples.

[2019-11-24 17:34] jakerella commented on #75
Nice! You're scheduled for January 9!

@lizafloyd ^

[2019-12-11 19:45] jakerella commented on #75
Hey @ksteigerwald Can you expand on the talk abstract at all? I'm creating the meetup event for January 9 and wanted to give a little more context for attendees.

[2019-12-12 17:50] ksteigerwald commented on #75
Yes, that could use some polish. I will post an updated abstract tonight!

[2019-12-12 18:53] ksteigerwald commented on #75
@jakerella Updated. Let me know if this works or not.

[2019-12-13 18:37] jakerella commented on #75
Thanks! Looks good

[2019-12-22 15:12] jakerella commented on #75
Hi Kris! I'm guessing you saw this, but the January meetup was posted. Can you be sure to RSVP?

https://www.meetup.com/DC-JavaScript/events/267117039/

[2019-12-22 15:14] jakerella commented on #70
Hey @tommymarshall! Any chance you'd be up for giving this talk February 13 for DCJS?

[2019-12-22 15:16] jakerella commented on #77
This sounds great @cukejianya! Sorry for the delay on responding, we were booked up through January so I kinda let things slip. Do you want to plan to give this talk in March? It would be March 12, 6:30-8pm (45 min for the talk itself).

[2019-12-22 15:18] jakerella commented on #79
Hi @evgenyfedorenko! This sounds neat, hopefully we can get it on the schedule in the Spring. Can you flesh out a 3-4 sentence abstract of the talk for us? It doesn't look like that article link is still live.

[2019-12-22 19:19] evgenyfedorenko commented on #79
Hi @jakerella. Here is the link https://medium.com/angular-in-depth/how-i-wrote-ngrx-store-in-63-lines-of-code-dfe925fe979b

"Deep dive into NgRx Store. How I tried to understand it by getting to the very essentials."

[2019-12-23 00:59] jakerella commented on #79
Ah, that link works, thanks. We still need a bit more on the abstract for the talk though. This is the description of the talk that attendees will see on the meetup page. We need to give them a little more info on what the talk is about, and why they should be interested!

[2019-12-23 01:29] evgenyfedorenko commented on #79
oh sure.

"This talk will be an in depth dive into the NgRx implementation. State, store, reducerFactory, createSelector - the integral parts of the library will be covered and explained. With all the bells and whistles removed it has a couple of basic RxJS operators. Turns out, there is only few lines needed to make it work which I will demonstrate in the demo."

[2019-12-24 12:58] jakerella commented on #79
Sounds good! Can you also give us a 1 sentence "what is NgRx"? I'm guessing there will be a number of people who won't know.

[2019-12-26 14:45] evgenyfedorenko commented on #79
Here is the official website https://ngrx.io/

"NgRx Store is RxJS powered state management for Angular applications, inspired by Redux. Store is a controlled state container designed to help write performant, consistent applications on top of Angular."

[2019-12-31 14:20] ksteigerwald commented on #75
Guessing you saw, but confirming here that I RSVP on meetup.com

[2019-12-31 15:33] cukejianya commented on #77
Yes. @jakerella

[2019-12-31 21:21] jakerella commented on #75
Thanks!

[2019-12-31 21:23] jakerella commented on #77
Great! Before then we should work a bit on the abstract. Basically, we need to word it to draw in attendees.

[2020-01-06 16:34] cukejianya commented on #77
@jakerella I got you. When would you like to sync up? Is there a slack channel I can join? Or would you prefer to work out the kinks/description through this thread/github?

[2020-01-07 12:46] ksteigerwald commented on #75
@jakerella Someone on meetup was confused over the title given it included 'Weekend'. I updated the title in the hope to make things more clear.

[2020-01-11 16:15] #75 closed

[2020-01-11 16:16] jakerella commented on #77
We generally just work things out here. You can update the description on the issue, or post here in the comments!

[2020-01-22 18:01] easilyBaffled opened #80 "Holy 😲! There's a `<dialog />` (`modal`) element!?"
**Your Name:** Danny Michaelis
**Your twitter handle:** @easilyBaffled
**A few words about yourself:** perosnally-lauded developer of `console.tap` and hobbyist game developer trying to bend JS
**Talk title:**  Holy 😲! There's a `<dialog />` (`modal`) element!?

**Talk abstract:**
HTML 5.2 (did you know there was an HTML 5?) has introduced a `dialog` element that can serve all(most) of your modal/

[2020-02-19 19:32] jakerella commented on #77
Hi! This meetup is scheduled! Please be sure to RSVP here and let us know if you have any questions, concerns, or needs!

https://www.meetup.com/DC-JavaScript/events/268755253/

[2020-02-19 19:32] jakerella commented on #72
Hey Matt! Any chance you could do this talk in April? It would be April 9. Let me know!

[2020-02-20 23:00] mcrowder65 commented on #72
Hey Jordan, I think I'm gonna go ahead and not give this talk, I haven't given it in a while and I don't think I want to give it anymore, sorry!

[2020-02-20 23:00] #72 closed

[2020-02-21 14:04] jakerella commented on #72
No worries, thanks for the update!

[2020-02-22 17:22] jakerella commented on #55
Closing this talk... but maybe we could have you back after you start your new gig? :)

[2020-02-22 17:22] #55 closed

[2020-02-22 17:23] jakerella commented on #70
Hey @tommymarshall! It's been a while, but any chance you could do this talk for DCJS in April? It would be Thursday, April 9.

[2020-03-04 16:00] cukejianya commented on #77
@jakerella Unfortunately, I am going to have to reschedule the talk. My job is sending me off to SLC next week. I am currently looking for a replacement speaker.

[2020-03-08 17:08] jakerella commented on #77
@cukejianya Thanks for letting us know.

[2020-11-11 14:52] joshfinnie opened #81 "WASM/Rust & Javascript talk"
**Your Name:** Josh Finnie
**Your twitter handle:** @joshfinnie
**A few words about yourself:** I am a web developer working at PBS using Python and Javascript mostly, but crushing hard on Rust lately.

**Talk title:** A Introduction to Web Assembly and Rust for Javascript!

**Talk abstract:**
This talk will be an introduction on what is Web Assembly, an overview of the Rust programming language a

[2020-12-16 16:36] caseywatts opened #82 "Debugging Your Brain Workshop"
**Your Name:** Casey Watts
**Your twitter handle:** @kyloma
**A few words about yourself:**
Casey Watts is the author of [Debugging Your Brain](https://www.debuggingyourbrain.com) (DYB), a clear applied psychology book and a concise self-help book. His book brings together two of his backgrounds: psychology and software development. Casey studied neurobiology at Yale University, and he is a co-aut

[2021-01-17 20:24] #81 closed

[2021-02-17 03:54] asabaylus commented on #82
Thanks @caseywatts you rock! :shipit:

[2021-02-17 03:54] #82 closed

[2021-05-11 16:02] jameslaneconkling opened #83 "Rethinking Front End APIs: authoring a library with a declarative API"
**Your Name:** James Conkling
**Your twitter handle:** @jamesconkling
**A few words about yourself:** I'm a developer working at Sayari, a DC-based technology company tracking illicit financial networks. My background covers web development, cartography, and data visualization.

**Talk title:** Rethinking Front End APIs: authoring a library with a declarative API

**Talk abstract:**
As a multi-par

[2021-06-26 17:01] jakerella commented on #83
Thanks James! This looks interesting, I thin k we might not have time to get something together in July, are you open to August 12? I'll ping the other hosts and check that we don't have anyone set for that date yet.

[2021-06-28 13:14] jameslaneconkling commented on #83
Yeah, took another look at my calendar and actually August should work for me, as would September.

[2021-07-01 15:05] jakerella commented on #83
Let's plan on August for now. We'll get a meetup setup for it, but probably not for a week or two.

[2021-07-25 14:06] jakerella commented on #83
@jameslaneconkling Hey there! So, we scheduled the meetup, but it looks like none of the hosts will be able to be online on that evening now. We'd like to postpone to the September meetup date, the 9th of September. Does that work for you?

[2021-07-31 19:13] jakerella commented on #83
@jameslaneconkling Haven't heard back from you. We've cancelled the August meetup due to none of us being around to host. Will you be able to present on September 9?

[2021-08-01 17:12] jameslaneconkling commented on #83
@jakerella apologies, missed that last message! Yes, Sept 9 works for me. Thanks for organizing this.

[2021-08-05 22:39] jakerella commented on #83
Great, thanks @jameslaneconkling ! I'll post here when we have the September event up on Meetup.com

[2021-08-07 17:52] jakerella commented on #83
All set, thanks again!

https://www.meetup.com/DC-JavaScript/events/279974569/

[2021-08-29 14:57] jakerella commented on #83
Hey @jameslaneconkling! I don't see you registered for the meetup event, can you be sure to do so? That's how we'll send out Zoom information.

https://www.meetup.com/DC-JavaScript/events/279974569/

[2021-08-29 18:10] jameslaneconkling commented on #83
done

[2021-09-11 19:51] jakerella commented on #83
Thanks again James! Great talk.

[2021-09-11 19:52] #83 closed

[2022-04-14 19:29] #69 closed